[Desktop Entry]
Exec=diskfree.sh
Icon=opie-sh-scripts/diskfree
Type=Application
Name=Disk Free
Comment=Frontend to df (show space left on mountpoints)
Name[es]=Espacio Libre
Comment[es]=Interfaz de df (muestra espacio libre en puntos de montaje)
Name[pt]=Disco Livre
Comment[pt]=Mostra o espaço livre nos vários discos
Name[pt_BR]=Espaço Livre
Comment[pt_BR]=Mostra o espaço livre nos vários discos
Name[sl]=Prosti disk
Comment[sl]=Maska za program df
Name[nl]=DiskVrij
Comment[nl]=Diskruimte weergave per disk