[Desktop Entry]
Type=Application
Exec=filesystem_mounter.sh
Icon=opie-sh-scripts/fsmounter
Name=Filesystem Mounter
Name[es]=Montador
Comment=Frontend to mount/unmount filesystems
Comment[es]=Interfaz para montar/desmontar sistemas de ficheros
