[Desktop Entry]
Exec=filesystem_mounter.sh
Icon=opie-sh-scripts/fsmounter
Type=Application
Name=Filesystem Mounter
Comment=Frontend to mount/unmount filesystems
Name[es]=Montador
Comment[es]=Interfaz para montar/desmontar sistemas de ficheros
