[Desktop Entry]
Exec=hostlist.sh
Icon=opie-sh-scripts/hostlist
Type=Application
Name=Hostlist
Comment=hostlist
Name[es]=Máquinas
Comment[es]=Listado de hosts
