[Desktop Entry]
Exec=hostlist.sh
Icon=opie-sh-scripts/hostlist
Type=Application
Name=Hostlist
Comment=hostlist
Name[es]=Máquinas
Comment[es]=Listado de hosts
Name[it]=Lista Host
Comment[it]=Mostra lista degli host
Name[pt]=Máquinas
Comment[pt]=Lista de máquinas
Name[pt_BR]=Máquinas
Comment[pt_BR]=Lista de máquinas
Name[sl]=Seznam gostiteljev
Comment[sl]=Seznam gostiteljev
Name[nl]=Hosts lijst
Comment[nl]=Lijst met bekende hosts
