[Desktop Entry]
Exec=killproc.sh
Icon=opie-sh-scripts/killproc
Type=Application
Name=Process Killer
Name[es]=Mataprocesos
Name[fr]=Process Killer
Comment[fr]=Tueur de processus
Name[it]=Killer Processi
Comment[it]=Killer per i processi
Name[pt]=Mata Processos
Comment[pt]=Mata Processos
Name[pt_BR]=Matar Processo
Comment[pt_BR]=Mata Processos
Name[sl]=Ubijalec procesov
Name[nl]=Processtopper
Comment[nl]=Beeindigt processen

