[Desktop Entry]
Exec=killproc.sh
Icon=opie-sh-scripts/killproc
Type=Application
Name=Process Killer
Name[es]=Mataprocesos
Name[pt]=Mata Processos
Comment[pt]=Mata Processos
Name[pt_BR]=Mata Processos
Comment[pt_BR]=Mata Processos
Name[sl]=Ubijalec procesov
