[Desktop Entry]
Exec=logviewer.sh
Icon=opie-sh-scripts/logviewer
Type=Application
Name=Log Viewer
Comment=Frontend to viewing logfiles
Name[es]=Visor Registros
Comment[es]=Interfaz para ver los ficheros de registro
Name[pt]=Leitor de logs
Comment[pt]=Ver Logs
Name[pt_BR]=Visualizador de logs
Comment[pt_BR]=Visualizador de logs
Name[sl]=Pregledovalnik zapisov
Comment[sl]=Pregledovalnik zapisov
Name[nl]=Verslagen
Comment[nl]=Bekijk log bestanden