[Desktop Entry]
Type=Application
Exec=logviewer.sh
Icon=opie-sh-scripts/logviewer
Name=Log Viewer
Comment=Frontend to viewing logfiles
Name[es]=Visor Registros
Comment[es]=Interfaz para ver los ficheros de registro
Name[pt]=Visualizador de logs
Comment[pt]=Visualizador de logs
Name[pt_BR]=Visualizador de logs
Comment[pt_BR]=Visualizador de logs