[Desktop Entry]
Exec=opie-sh-howto.sh
Icon=opie-sh/opie-sh
Type=Application
Name=opie-sh HowTo
Comment=opie-sh-howto
Name[es]=Cómo Opie-Sh
Comment[es]=Cómo del Opie Shell
Name[fr]=opie-sh Howto
Comment[fr]=Réponse sur l'utilisation de opie-sh
Name[it]=Guida Opie-SH
Comment[it]=Guida per Opie Shell
Name[pt]=Documentação Opie Shell
Comment[pt]=Documentação "How-To" do Opie Shell
Name[pt_BR]=Documentação Opie Shell
Comment[pt_BR]=Documentação "How-To" do Opie Shell
Name[zh_TW]=Opie-sh HowTo
Name[sl]=opie-sh Kako
Comment[sl]=opie-sh Kako
Name[nl]=Opie-Sh HowTo
Comment[nl]=Documantatie van de Opie Shell
