[Desktop Entry]
Comment=rsync helper
Comment[es]=Asistente del sincronizador remoto (rsync)
Comment[pt]=Assistente do sincronizador remoto (RSync)
Comment[pt_BR]=Assistente do sincronizador remoto (RSync)
Exec=rsyncme.sh
Icon=opie-sh-scripts/rsyncme
Type=Application
Name=RSYNC Helper
Name[es]=Rsync
Name[pt]=RSync
Name[pt_BR]=RSync