[Desktop Entry]
Exec=rsyncme.sh
Icon=opie-sh-scripts/rsyncme
Type=Application
Name=RSYNC Helper
Comment=rsync helper
Name[es]=Rsync
Comment[es]=Asistente del sincronizador remoto (rsync)
Name[pt]=RSync
Comment[pt]=Assistente do sincronizador remoto (RSync)
Name[pt_BR]=RSync
Comment[pt_BR]=Assistente do sincronizador remoto (RSync)
Name[sl]=RSYNC pomočnik
Comment[sl]=RSYNC pomočnik
Name[nl]=RSYNC Assistent
Comment[nl]=Hulp bij RSYNC