[Desktop Entry]
Type=Application
Exec=service_manager.sh
Icon=opie-sh-scripts/service_manager
Name=Service Manager
Name[es]=Gestor Servicios
Name[pt]=Gestor Serviços
Name[pt_BR]=Gerenciador Serviços
Comment=Frontend to start/stop init scripts
Comment[es]=Interfaz para iniciar/parar guiones de inicio
Comment[pt]=Interface para gerir os serviços
Comment[pt_BR]=Interface para gerenciar os serviços
