[Desktop Entry]
Exec=service_manager.sh
Icon=opie-sh-scripts/service_manager
Type=Application
Name=Service Manager
Comment=Frontend to start/stop init scripts
Name[es]=Gestor Servicios
Comment[es]=Interfaz para iniciar/parar guiones de inicio
Name[it]=Gestione Servizi
Comment[it]=Avvia/blocca i servizi
Name[pt]=Gestor Serviços
Comment[pt]=Interface para gerir os serviços
Name[pt_BR]=Gerenciador Serviços
Comment[pt_BR]=Interface para gerenciar os serviços
Name[sl]=Upravljalnik servisov
Comment[sl]=Upravljalnik servisov
Name[nl]=Service Manager
Comment[nl]=Starten en stoppen van servicescripts
