[Desktop Entry]
Exec=stowctrl.sh
Icon=stowctrl/stowctrl
Type=Application
Name=Stowaway Control
Comment=Start/Stop stowaway keyboard
Name[es]=Control Stowaway
Comment[es]=Activa/desactiva teclado Stowaway
Name[it]=Controllo Stowaway
Comment[it]=Attiva/disattiva tastiera Stowaway
Name[pt]=Teclado Stowaway
Comment[pt]=Gestor teclado Stowaway
Name[pt_BR]=Teclado Stowaway
Comment[pt_BR]=Gerenciador teclado Stowaway
Name[sl]=Stowaway kontrole
Comment[sl]=Stowaway kontrole za tipkovnico
Name[nl]=Stowaway Controle
Comment[nl]=Activeer Stowaway toetsenborden
