[Desktop Entry]
Type=Application
Exec=usbnetctrl.sh
Icon=opie-sh-scripts/usbnetctrl
Name=USBNET Control
Name[es]=USBNet
Name[pt]=Rede USB
Name[pt_BR]=Rede USB
Comment=Frontend to start/stop usbnet
Comment[es]=Interfaz para iniciar/parar usbnet
Comment[pt]=Interface para gerir a rede USB
Comment[pt_BR]=Interface para gerir a rede USB
