[Desktop Entry]
Exec=usbnetctrl.sh
Icon=opie-sh-scripts/usbnetctrl
Type=Application
Name=USBNET Control
Comment=Frontend to start/stop usbnet
Name[es]=USBNet
Comment[es]=Interfaz para iniciar/parar usbnet
Name[fr]=USBNET Control
Comment[fr]=Arrêt/démarrage du réseau sur usb
Name[it]=USBNet
Comment[it]=Avvia/blocca usbnet
Name[pt]=Rede USB
Comment[pt]=Gestão de rede USB
Name[pt_BR]=Rede USB
Comment[pt_BR]=Gerenciação de rede USB
Name[sl]=USBNET kontrole
Comment[sl]=USBNET kontrole
Name[nl]=USBNET KOntrole
Comment[nl]=USBNET aan- en uit schakelen
