[Desktop Entry]
Exec=example
Icon=Example
Type=Application
Name=Example
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
Name[pt_BR]=Exemplo
Comment[pt_BR]=Um programa de exemplo
