[Desktop Entry]
Exec=simple-pim
Icon=Example
Type=Example
Name=Simple PIM Viewer
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
