[Desktop Entry]
Exec=simple
Icon=logo/OpieIcon
Type=Example
Name=SimpleExample
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
