[Desktop Entry]
Exec=simple-icon
Icon=logo/opielogo
Type=Example
Name=IconExample
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
