[Desktop Entry]
Exec=simple
Icon=logo/opielogo
Type=Example
Name=SimpleExample
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
