[Desktop Entry]
Exec=simple-main
Icon=logo/opielogo
Type=Example
Name=Simple MainWindow
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
