*.moc
*.moc.o
*.o
.deps
.libs
.o
Makefile*
activateprofileGUI.cpp
activateprofileGUI.h
activatevpnGUI.cpp
activatevpnGUI.h
editconnectionGUI.cpp
editconnectionGUI.h
networksettingsGUI.cpp
networksettingsGUI.h
.moc*
.obj
