[Desktop Entry]
Exec=aqpkg
Icon=aqpkg/aqpkg
MimeType=application/ipkg
MimeTypeIcons=aqpkg/ipkg
Type=Application
Name=Packages
Comment=A Package Manager
Name[da]=Pakker
Comment[da]=Pakkestyring. Installation, opgradering, afinstallering m.m.
Name[es]=AQPkg
Comment[es]=Un gestor de paquetes de software
Comment[fr]=Un gestionnaire de paquetages logiciels
Name[pt]=Gestor Pacotes
Comment[pt]=Gestor de pacotes de software
Name[pt_BR]=Gestor Pacotes
Comment[pt_BR]=Gestor de pacotes de software