SUBSYSTEM=="pcmcia", ACTION=="add", ENV{MODALIAS}=="?*" \
		RUN+="/etc/udev/scripts/opie-pcmcia.sh"
SUBSYSTEM=="pcmcia", ACTION=="remove", ENV{MODALIAS}=="?*", \
		RUN+="/etc/udev/scripts/opie-pcmcia.sh"

