*.moc
Makefile
appearancesettingsbase.cpp
appearancesettingsbase.h
bin
config.in
languagesettingsbase.cpp
languagesettingsbase.h
lightsettingsbase.cpp
lightsettingsbase.h
moc_*
plugins
rotationsettingsbase.cpp
rotationsettingsbase.h
soundsettingsbase.cpp
soundsettingsbase.h
