[Desktop Entry]
Type=Application
Exec=appearance
Icon=appearance/Appearance
Name=Appearance
Name[pt_BR]=Aparencia
Name[sl]=Prikaz
Name[no]=Utseende
Name[de]=Erscheinungs bild
Name[hu]=Megjelenés
Name[it]=Aspetto
Name[pt]=Aparência
Name[es]=Apariencia
Name[zh_TW]=外觀
Name[ko]=테마
Name[da]=Udseende
Comment=Appearance settings dialog
Comment[es]=Diálogo de configuración de la apariencia
Comment[da]=Ændre farver, udseende, skrifttyper m.m.
