[Desktop Entry]
Type=Application
Exec=appearance
Icon=Appearance
Name=Appearance
Name[pt_BR]=Aparencia
Name[no]=Utseende
Name[de]=Erscheinungsbild
Name[hu]=Megjelenés
Name[it]=Aspetto
Name[pt]=Aparência
Name[es]=Apariencia
Name[zh_TW]=外觀
Name[ko]=테마
