[Desktop Entry]
Comment=Set Application Key
Exec=appskey
Icon=AppsKey/CustomizeKeys
Type=Application
Name=Application Key
CanFastload=0
Name[de]=Anwendungstasten
Name[pt]=Botões
Name[es]=Teclas Rápidas
Name[zh_TW]=程式鍵
