[Desktop Entry]
Exec=aqpkg
Icon=aqpkg/aqpkg
MimeType=application/ipkg
MimeTypeIcons=aqpkg/ipkg
Type=Application
Name=Packages
Comment=A Package Manager
Name[da]=Pakker
Comment[da]=Pakkestyring. Installation, opgradering, afinstallering m.m.
Name[es]=AQPkg
Comment[es]=Un gestor de paquetes de software
Name[fr]=Paquets
Comment[fr]=Un gestionnaire de paquetages logiciels
Name[it]=Gestione Paccchetti
Comment[it]=Gestione pacchetti
Name[pt]=Aplicações
Comment[pt]=Gestor das aplicações instaladas
Name[pt_BR]=Gestor Pacotes
Comment[pt_BR]=Gestor de pacotes de software
Name[sl]=Paketi
Comment[sl]=Paketni upravljalnik
Name[nl]=Pakketmanager
Comment[nl]=Installatie van programma's
