[Desktop Entry]
Type=Application
Exec=aqpkg
MimeType=application/ipkg
MimeTypeIcons=aqpkg/ipkg
Icon=aqpkg/aqpkg
Name=AQPkg
Name[es]=AQPkg
Comment=A Package Manager
Comment[es]=Un gestor de paquetes de software
