[Desktop Entry]
Comment=Backup and Restore Utility
Comment[es]=Utilidad de copia de seguridad y recuperación
Comment[da]=Sikkerhedskopiering og gendannelse fra sikkerhedskopi
Exec=backup
Icon=backup/backupandrestore
Type=Settings
Name=Backup And Restore
Name[es]=Copia de Seguridad
Name[da]=Sikkerheds kopiering
