[Desktop Entry]
Exec=backup
Icon=backup/backupandrestore
Type=Settings
Name=Backup And Restore
Comment=Backup and Restore Utility
Name[da]=Sikkerheds-kopiering
Comment[da]=Sikkerhedskopiering og gendannelse fra sikkerhedskopi
Name[es]=Copia de Seguridad
Comment[es]=Utilidad de copia de seguridad y recuperación
Name[fr]=Sauvegarde Restoration
Comment[fr]=Gestion des sauvegardes et restaurations
Name[it]=Backup e Restore
Comment[it]=Gestione backup e restore
Name[pt]=Cópia Segurança
Comment[pt]=Utilitário de cópia de segurança e recuperação
Name[pt_BR]=Cópia Segurança
Comment[pt_BR]=Utilitário de cópia de segurança e recuperação
Name[sl]=Kopiraj in restavriraj
Comment[sl]=Orodje za kopiranje in restavriranje
Name[nl]=Backup en Herstel
Comment[nl]=Een backupprogramma
