[Desktop Entry]
Exec=bluetooth-manager
Icon=opietooth/bluetooth-manager
Type=Settings
Name=Bluetooth Manager
Comment=Bluetooth Setup
Name[de]=Bluetooth
Name[es]=Bluetooth
Comment[es]=Configuración Bluetooth
Name[fr]=Bluetooth
Name[it]=Bluetooth
Name[pt]=Bluetooth
Comment[pt]=Configuração Bluetooth
Name[pt_BR]=Bluetooth
Comment[pt_BR]=Configuração Bluetooth
Name[zh_TW]=BlueTooth 管理員
Name[sl]=Bluetooth upravljalnik
Comment[sl]=Bluetooth upravljalnik
