[Desktop Entry]
Comment=Bluetooth Setup
Exec=bluetooth-manager
Icon=opietooth/bluetooth-manager
Type=Settings
Name=Bluetooth Manager
Name[zh_TW]=BlueTooth 管理員
