[Desktop Entry]
Comment=Bluetooth Setup
Exec=bluetooth-manager
Icon=opietooth/bluetooth-manager
Type=Settings
Name=Bluetooth Manager
Name[zh_TW]=BlueTooth 管理員
Name[ko]=블루투스 관리자
Name[it]=Bluetooth
