[Desktop Entry]
CanFastload=0
Exec=buttonsettings
Icon=buttonsettings/Button
Type=Application
Name=Button
Comment=Set Application Key
Name[da]=Tast
Comment[da]=Ændre program taster.
Name[de]=Anwendungs tasten
Name[es]=Botones
Comment[es]=Aplicaciones que lanzan las teclas rápidas
Name[fr]=Boutons
Name[it]=Pulsanti
Name[ko]=실행단추
Name[pt]=Botões
Comment[pt]=Gestor dos botões de aplicações
Name[pt_BR]=Botões
Comment[pt_BR]=Gestor dos botões de aplicações
Name[zh_TW]=程式鍵
