[Desktop Entry]
Exec=calibrate
Icon=Calibrate
Type=Application
Name=Recalibrate
Comment=Utility for screen calibration
Name[da]=Rekalibrering
Comment[da]=Værktøj til skærm kalibrering
Name[de]=Kalibrieren
Name[es]=Calibrar
Comment[es]=Utilidad para recalibrar el puntero en pantalla
Name[fr]=Calibration
Comment[fr]=Outil de calibration de l'écran tactile
Name[hu]=Kalibráció
Name[it]=Calibrazione
Name[ko]=화면 측정
Name[no]=Kalibrer
Name[pt]=Recalibrar
Name[pt_BR]=Recalibrar
Name[sl]=Kalibracija
Name[zh_TW]=筆尖定住
