[Desktop Entry]
Type=Application
Exec=calibrate
Icon=Calibrate
Name=Recalibrate
Name[pt_BR]=Recalibrar
Name[de]=Kalibrieren
Name[sl]=Kalibracija
Name[no]=Kalibrer
Name[hu]=Kalibráció
Name[it]=Calibrazione
Name[pt]=Recalibrar
Name[es]=Calibrar
Name[zh_TW]=筆尖定住
Name[ko]=화면 측정
