[Desktop Entry]
Exec=citytime
Icon=citytime/CityTime
Type=Application
Name=City Time
Comment=A World Clock and Time Zone Editor
Name[da]=Verdensur
Comment[da]=Et verdensur og tidszone indstiller
Name[de]=Weltzeituhr
Name[es]=Reloj Mundial
Comment[es]=Un reloj mundial y editor de zona horaria
Name[fr]=Zone horaire
Name[hu]=Idõzóna
Name[it]=Fuso Orario
Name[ja]=世界時計
Name[ko]=세계시간
Name[no]=Verdensur
Name[pt]=Fusos Horários
Name[pt_BR]=Hora Local
Name[zh_TW]=世界時間
