[Desktop Entry]
Exec=citytime
Icon=citytime/CityTime
Type=Application
Name=City Time
Comment=A World Clock and Time Zone Editor
Name[da]=Verdensur
Comment[da]=Et verdensur og tidszone indstiller
Name[de]=Weltzeituhr
Name[es]=Reloj Mundial
Comment[es]=Un reloj mundial y editor de zona horaria
Name[fr]=Zone Horaire
Comment[fr]=Gestion des zones horaires
Name[hu]=Idõzóna
Name[it]=Fuso Orario
Comment[it]=Impostazioni fuso orario
Name[no]=Verdensur
Name[pt]=Fusos Horários
Comment[pt]=Relógio mundial e fusos horários
Name[pt_BR]=Hora Local
Comment[pt_BR]=Relógio mundial e fusos horários
Name[zh_TW]=世界時間
Name[sl]=Mestni čas
Comment[sl]=Svetovna ura in urejevalnik časovnih pasov
Name[nl]=Wereldklok
Comment[nl]=Een wereldklok met dag/nachtweergave
