[Desktop Entry]
Comment=A World Clock and Time Zone Editor
Comment[es]=Un reloj mundial y editor de zona horaria
Comment[da]=Et verdensur og tidszone indstiller
Exec=citytime
Icon=citytime/CityTime
Type=Application
Name=City Time
Name[pt_BR]=Hora Local
Name[no]=Verdensur
Name[de]=Weltzeituhr
Name[ja]=世界時計
Name[hu]=Idõzóna
Name[it]=Fuso Orario
Name[pt]=Fusos Horários
Name[es]=Reloj Mundial
Name[zh_TW]=世界時間
Name[ko]=세계시간
Name[da]=Verdensur
