[Desktop Entry]
Comment=Edit the ~/Settings/*.conf files
Exec=confedit
Icon=confedit/confedit
Type=Application
Name=Conf File Editor
Name[es]=Editor Configuración
Name[it]=Settaggi
Name[zh_TW]=編輯設定檔
Name[ko]=설정파일 편집기
