[Desktop Entry]
Exec=confedit
Icon=confedit/confedit
Type=Application
Name=Conf File Editor
Comment=Edit the ~/Settings/*.conf files
Name[de]=Konfiguration
Name[es]=Editor Configuración
Comment[es]=Edite los ficheros ~/Settings/*.conf
Name[fr]=Editeur de configuration
Name[it]=Editor Configurazioni
Comment[it]=Modifica file ~/Settings/*.conf
Name[pt]=Editor Configurações
Comment[pt]=Editor dos ficheiros ~/Settings/*.conf
Name[pt_BR]=Editor Configurações
Comment[pt_BR]=Editor dos ficheiros ~/Settings/*.conf
Name[zh_TW]=編輯設定檔
Name[sl]=Urejevalnik nastavitvenih datotek
Comment[sl]=Uredi ~/Settings/*.conf datoteke
Name[nl]=Wijzig instellingen
Comment[nl]=Wijzig de ~/Settings/*.conf bestanden
