[Desktop Entry]
Exec=confedit
Icon=confedit/confedit
Type=Application
Name=Conf File Editor
Comment=Edit the ~/Settings/*.conf files
Name[de]=Konfiguration
Name[es]=Editor Configuración
Comment[es]=Edite los ficheros ~/Settings/*.conf
Name[fr]=Editeur de configuration
Name[it]=Settaggi
Name[ko]=설정파일 편집기
Name[pt]=Editor Configurações
Comment[pt]=Editor dos ficheiros ~/Settings/*.conf
Name[pt_BR]=Editor Configurações
Comment[pt_BR]=Editor dos ficheiros ~/Settings/*.conf
Name[zh_TW]=編輯設定檔
