[Desktop Entry]
Comment=Set date and time
Exec=systemtime
Icon=DateTime
Type=Application
Name=Date/Time
Name[pt_BR]=Data/Hora
Name[no]=Dato/Tid
Name[de]=Datum/Zeit
Name[hu]=Dátum/Idõ
Name[pt]=Dia e Hora
