[Desktop Entry]
Exec=doctab
Icon=doctab/doctab
Type=Application
Name=DocTab
Comment=DocTab settings dialog
Name[de]=DokumentenTab
Comment[de]=DokumentenTab Einstellungen
Name[lv]=DokumentuTabs
Comment[lv]=DokumentuTaba Uzstādīšana
Name[ru]=ДокВкладка
Comment[ru]=Настройки вкладки "Документы"
