[Desktop Entry]
Exec=formatter
Icon=formatter/devices
Type=Application
Name=Formatter
Comment=A disk formatting utility
Name[de]=Formatieren
Name[es]=Formateador
Comment[es]=Utilidad para formatear discos
Name[fr]=Formatage
Comment[fr]=Formateur de disques, cartes, etc.
Name[it]=Formatter
Comment[it]=Utility per la formattazione
Name[pt]=Formatar Disco
Comment[pt]=Utilitário para formatar o disco
Name[pt_BR]=Formatar Disco
Comment[pt_BR]=Utilitário para formatar o disco
Name[zh_TW]=Formatter
Name[sl]=Formater
Comment[sl]=Orodje za formatiranje diska
Name[nl]=Formatteer
Comment[nl]=Een diskformatterings programma
Name[lv]=Formatētājs
Comment[lv]=Disku formatēšanas rīks
