[Desktop Entry]
Comment=A disk formatting utility
Exec=formatter
Icon=formatter/devices
Type=Application
Name=Formatter
Name[zh_TW]=Formatter
Name[ko]=포맷기
Name[it]=Formatter
