[Desktop Entry]
Comment=KeyZ
Exec=keyz-cfg
Icon=keyz-cfg
Type=Application
Name=KeyZ
Name[lv]=KeyZ
Name[ru]=Конфигуратор keyz
Comment[ru]=Конфигурация встроенной клавиатуры
