[Desktop Entry]
Exec=language
Icon=Language
Type=Application
Name=Language
Comment=Language settings dialog
Name[da]=Sprog
Comment[da]=Sprog indstillinger
Name[de]=Sprache
Name[es]=Idioma
Comment[es]=Diálogo de configuración del idioma
Name[fr]=Langue
Name[hu]=Nyelv
Name[it]=Lingua
Name[no]=Språk
Name[pt]=Idioma
Comment[pt]=Configuração do idioma
Name[pt_BR]=Idioma
Comment[pt_BR]=Configuração do idioma
Name[zh_TW]=語言
Name[sl]=Jezik
Comment[sl]=Nastavitev jezika
