[Desktop Entry]
Type=Application
Exec=language
Icon=Language
Name=Language
Name[pt_BR]=Linguagem
Name[no]=Språk
Name[de]=Sprache
Name[hu]=Nyelv
Name[pt]=Linguagem
Name[es]=Idioma
