[Desktop Entry]
Type=Application
Exec=language
Icon=Language
Name=Language
Name[pt_BR]=Linguagem
Name[no]=Språk
Name[sl]=Jezik
Name[de]=Sprache
Name[hu]=Nyelv
Name[it]=Lingue
Name[pt]=Linguagem
Name[es]=Idioma
Name[zh_TW]=語言
Name[ko]=언어
