[Desktop Entry]
Exec=launchersettings
Icon=launchersettings/Launcher
Type=Application
Name=Launcher
Comment=Refresh the launcher so that new installed applications appear
Name[es]=Lanzador
Comment[es]=Configuración del lanzador de aplicaciones
Name[fr]=Paramètres Bureau
Comment[fr]=Gestion des applets et onglets du bureau
Name[it]=Launcher
Comment[it]=Impostazioni Launcher
Name[pt]=Lista Aplicações
Comment[pt]=Actualiza a lista de aplicações instaladas
Name[pt_BR]=Lançador
Comment[pt_BR]=Atualiza a lista de aplicações instaladas
Name[sl]=Zaganjalnik
Comment[sl]=Posodbi zaganjalnik tako, da se prikažejo novi programi
Name[nl]=Taakbalk
Comment[nl]=Ververs de taakbalk zodat geinstalleerde programma's verschijnen

