[Desktop Entry]
Exec=light-and-power
Icon=lightandpower/Light
Type=Application
Name=Light & Power
Name[da]=Lys & Strøm
Name[de]=Helligkeit
Name[es]=Luz y Energía
Name[fr]=Luminosité et énergie
Name[hu]=Fényerõ
Name[it]=Risparmio Energetico
Name[no]=Lys
Name[pt]=Iluminação e Energia
Comment[pt]=Controla a iluminação e a energia
Name[pt_BR]=Iluminacao e Energia
Comment[pt_BR]=Controla a iluminação e a energia
Name[zh_TW]=光暗設定
