[Desktop Entry]
Exec=light-and-power
Icon=lightandpower/Light
Type=Application
Name=Light & Power
Name[da]=Lys & Strøm
Name[de]=Helligkeit
Name[es]=Luz y Energía
Name[fr]=Rétro-éclairage & Batterie
Comment[fr]=Gestion du rétro-éclairage et de la charge de la batterie
Name[hu]=Fényerõ
Name[it]=Risparmio Energetico
Comment[it]=Gestione risparmio energetico
Name[no]=Lys
Name[pt]=Iluminação e Energia
Comment[pt]=Controla a iluminação e a energia
Name[pt_BR]=Iluminacao e Energia
Comment[pt_BR]=Controla a iluminação e a energia
Name[zh_TW]=光暗設定
Name[sl]=Osvetlitev in poraba
Name[nl]=Licht en Energie
Comment[nl]=Energieinstellingen
Name[lv]=Apgaismojums
Comment[lv]=Apgaismojuma un Bateriju parametru uzstādīšana
Name[ru]=Энергосбережение
Comment[ru]=Управление подсветкой и питанием
