[Desktop Entry]
Type=Application
Exec=light-and-power
Icon=Light
Name=Light & Power
Name[pt_BR]=Iluminacao e Energia
Name[no]=Lys
Name[de]=Helligkeit
Name[hu]=Fényerõ
Name[pt]=Iluminação e Energia
Name[es]=Luz y Energía
Name[zh_TW]=光暗設定
