[Desktop Entry]
Exec=mediummount
Icon=mediummount/mediummount
Type=Application
Name=Medium Mount
Comment=Configure app for the medium mounter
Name[da]=Medie montering
Comment[da]=Indstillinger for montering af medier
Name[de]=Gerät einbinden
Name[es]=Montar Medio
Comment[es]=Aplicación para montar medios
Name[it]=Gestione Supporti
Name[pt]=Montar Disco
Comment[pt]=Aplicação para montar discos
Name[pt_BR]=Montar Média
Comment[pt_BR]=Aplicação para montar médias
Name[zh_TW]=媒體掛卸
Name[sl]=Priklopi medij
Comment[sl]=Priklopi medij
