[Desktop Entry]
Type=Application
Exec=mediummount
Icon=mediummount/mediummount
Name=Medium Mount
Name[pt]=Montar Média
Name[pt_BR]=Montar Média
Name[es]=Montar Medio
Name[it]=Monta/Smonta
Name[de]=Gerät einbinden
Name[zh_TW]=媒體掛卸
Name[ko]=미디어 마운트
Name[da]=Medie montering
Comment=Configure app for the medium mounter
Comment[es]=Aplicación para montar medios
Comment[da]=Indstillinger for montering af medier
Comment[pt]=Aplicação para montar médias
Comment[pt_BR]=Aplicação para montar médias