[Desktop Entry]
Type=Application
Exec=mediummount
Icon=mediummount/mediummount
Name=Medium Mount
Name[pt]=Montar Média
Name[es]=Montar Medio
Name[it]=Mounter
Name[zh_TW]=媒體掛卸
Name[ko]=미디어 마운트
