[Desktop Entry]
Exec=netsetup
Icon=PPPConnect
Type=Application
Name=Network
Name[pt_BR]=Rede
Name[de]=Netzwerk
Name[pt]=Rede
Name[es]=Red
Name[it]=PPP
Name[zh_TW]=網絡
Name[ko]=네트워크 설정
