[Desktop Entry]
Exec=networksettings
Icon=Network/PPPConnect
Type=Application
Name=Network
Comment=Configure The Network settings using this tool.
Name[da]=Netværk
Name[de]=Netzwerk
Name[es]=Red
Comment[es]=Configure la red con esta herramienta
Name[it]=Rete
Name[pt]=Rede
Comment[pt]=Configuração da rede
Name[pt_BR]=Rede
Comment[pt_BR]=Configuração da rede
Name[zh_TW]=網絡
Name[sl]=Mreža
Comment[sl]=Nastavitve mreže
Name[nl]=Netwerk
Comment[nl]=Netwerkinstellingen