[Desktop Entry]
Exec=networksettings
Icon=Network/PPPConnect
Type=Application
Name=Network
Name[pt_BR]=Rede
Name[de]=Netzwerk
Name[it]=PPP
Name[pt]=Rede
Name[es]=Red
Name[zh_TW]=網絡
Name[ko]=네트워크 설정
Name[da]=Netværk
Comment=Configure The Network settings using this tool.
