[Desktop Entry]
Exec=oipkg
Icon=oipkg/oipkg
MimeType=application/ipkg
Type=Application
Name=Software
Comment=A GUI front-end to ipkg
Name[de]=Software
Name[es]=Paquetes Software
Comment[es]=Interfaz de ipkg
Comment[fr]=Un gestionnaire de paquetages logiciels
Name[hu]=Csomag- kezelõ
Name[it]=Gestione Applicazioni
Name[ko]=패케지 관리자
Name[pt]=Aplicações
Comment[pt]=Gestão de aplicações
Name[pt_BR]=Adicionar/Remover Software
Comment[pt_BR]=Gestão de aplicações
Name[zh_TW]=程式
