[Desktop Entry]
Type=Application
Exec=oipkg
MimeType=application/ipkg
Icon=oipkg/oipkg
Name=Add/Remove Software
Name[pt_BR]=Adicionar/Remover Software
Name[hu]=Csomag- kezelõ
Name[de]=Software
