[Desktop Entry]
Exec=packagemanager
Icon=packagemanager/packagemanager
MimeType=application/ipkg
MimeTypeIcons=packagemanager/ipkg
Type=Application
Name=Package Manager
Comment=Opie package management client
Name[lv]=Pakotņu Menedžeris
Comment[lv]=Opie pakotņu menedžeris
Name[ru]=Менеджер пакетов
Comment[ru]=Менеджер пакетов для Opie
