[Desktop Entry]
Type=Application
Exec=qipkg
MimeType=application/ipkg
Icon=Ipkg
Name=Add/Remove Software
Name[pt_BR]=Adicionar/Remover Software
Name[hu]=Csomag- kezelõ
Name[de]=Software
Name[pt]=Aplicações
Name[es]=Soft Instalado
Name[zh_TW]=新增移除程式
