[Desktop Entry]
Exec=shutdown
Icon=Shutdown
Type=Application
Name=Shutdown
Name[da]=Luk ned
Name[de]=Beenden
Name[es]=Apagar
Name[fr]=Extinction et redémarrage
Name[hu]=Leállítás
Name[it]=Spegnimento
Name[no]=Skru av
Name[pt]=Desligar
Comment[pt]=Desligar o OPIE
Name[pt_BR]=Desligar
Comment[pt_BR]=Desligar o OPIE
Name[zh_TW]=關機
