[Desktop Entry]
Type=Application
Exec=shutdown
Icon=Shutdown
Name=Shutdown
Name[pt_BR]=Desligar
Name[no]=Skru av
Name[de]=Beenden
Name[hu]=Leállítás
Name[pt]=Desligar
Name[es]=Apagar
Name[zh_TW]=關機
Name[ko]=종료
