[Desktop Entry]
Exec=rotation
Icon=Rotation
Type=Application
Name=Rotation
Comment=Allows the display to be rotated
Name[de]=Rotation
Name[es]=Rotación
Comment[es]=Permite rotar la pantalla
Name[fr]=Rotation
Comment[fr]=Changer l'orientation de l'affichage
Name[hu]=Forgatás
Name[it]=Rotazione
Name[no]=Rotasjon
Name[pt]=Rodar Ecrâ
Comment[pt]=Rodar a orientação do ecrâ
Name[pt_BR]=Rotação
Comment[pt_BR]=Rodar a orientação do ecrâ
Name[zh_TW]=方向設定
