[Desktop Entry]
Type=Application
Exec=rotation
Icon=Rotation
Name=Rotation
Name[pt_BR]=Rotação
Name[no]=Rotasjon
Name[de]=Rotation
Name[hu]=Forgatás
Name[pt]=Rodar Ecrâ
Name[es]=Rotación
Name[zh_TW]=方向設定
Name[ko]=화면 돌리기
