[Desktop Entry]
Type=Application
Exec=security
Icon=security/Security
Name=Security
Name[de]=Sicherheits einstellungen
Name[it]=Sicurezza
Name[pt_BR]=Seguranca
Name[pt]=Segurança
Name[es]=Seguridad
Name[zh_TW]=保密
Name[ko]=보안
Name[da]=Sikkerhed
Comment=Security settings dialog
Comment[es]=Diálogo de configuración de seguridad
Comment[da]=Sikkerheds indstillinger
