[Desktop Entry]
Exec=security
Icon=security/Security
Type=Application
Name=Security
Comment=Security settings dialog
Name[da]=Sikkerhed
Comment[da]=Sikkerheds indstillinger
Name[de]=Sicherheits einstellungen
Name[es]=Seguridad
Comment[es]=Diálogo de configuración de seguridad
Name[fr]=Sécurité
Name[it]=Sicurezza

Name[pt]=Segurança
Comment[pt]=Configuração de segurança
Name[pt_BR]=Seguranca
Comment[pt_BR]=Configuração de segurança
Name[zh_TW]=保密
