[Desktop Entry]
Type=Application
Exec=sound
Icon=Sound
Name=Vmemo Settings
Name[pt_BR]=Som
Name[pt]=Som
Name[es]=Grabadora
Name[it]=Audio
Name[de]=Audio
Name[zh_TW]=聲效
Name[ko]=소리
Comment=Sound settings dialog
Comment[es]=Configuración de la grabadora de voz
