[Desktop Entry]
Exec=sshkeys
Icon=sshkeys/sshkeys
Type=Application
Name=SSH Keys
Comment=Manage SSH keys
Name[da]=SSH-nøgler
Comment[da]=Håndtering af SSH-nøgler
Name[es]=Claves SSH
Comment[es]=Gestor de claves del Secure Shell Protocol (SSH)
Name[fr]=Clé SSH
Comment[fr]=Gestionnaire des clés du Secure Shell Protocol (SSH)
Name[it]=Chiavi SSH
Comment[it]=Gestione chiavi SSH
Name[pt]=Chaves SSH
Comment[pt]=Gestor de chaves SSH
Name[pt_BR]=Chaves SSH
Comment[pt_BR]=Gerenciador de chaves SSH
Name[sl]=SSH ključi
Comment[sl]=Upravljaj z SSH ključi
Name[nl]=SSH Sleutels
Comment[nl]=Sleutelmanager voor SSH
