[Desktop Entry]
Exec=sysinfo
Icon=sysinfo/SystemInfo
Type=Application
Name=System Info
Comment=System Information
Name[da]=Systeminfo
Name[de]=Systeminfos
Name[es]=Info Sistema
Comment[es]=Info Sistema
Name[fr]=Informations Système
Comment[fr]=Information divers sur le système
Name[hu]=Rendszerinfó
Name[it]=Sistema
Comment[it]=Informazioni sul sistema
Name[no]=Systeminfo
Name[pt]=Sistema
Comment[pt]=Informações do Sistema
Name[pt_BR]=Informações do Sistema
Comment[pt_BR]=Informações do Sistema
Name[zh_TW]=系統資訊
Name[sl]=Sistemske informacije
Comment[sl]=Sistemske informacije
Name[nl]=Systeeminformatie
Comment[nl]=Informatie over het systeem
