[Desktop Entry]
Exec=systemtime
Icon=netsystemtime/DateTime
Type=Application
Name=Date/Time
Comment=Set date and time from network
Name[da]=Dato/Tid
Comment[da]=Indstil dato og tid manuelt eller via NTP
Name[de]=Datum
Name[es]=Hora NTP
Comment[es]=Fije la hora por el Network Time Protocol (NTP)
Name[fr]=Date et Heure
Comment[fr]=Configuration de la date et de l'heure système
Name[it]=Data e Orario
Comment[it]=Impostazioni data e orario via rete
Name[pt]=Data e Hora
Comment[pt]=Configura a data e hora via rede (NTP)
Name[pt_BR]=Data e Hora
Comment[pt_BR]=Configura a data e hora via rede (NTP)
Name[zh_TW]=網絡時間
Name[sl]=Datum/Čas
Comment[sl]=Nastavi datum in čas iz mreže
Name[nl]=Systeemtijd
Comment[nl]=Synchroniseer de systeemtijd met NTP
Name[lv]=Datums/Laiks
Comment[lv]=Uzstādīt Datumu un Laiku no tīkla
