[Desktop Entry]
Comment=Tab Managing Tool
Exec=tabmanager
Icon=tabmanager/tabmanager
Type=Settings
Name=Tab Manager
Name[pt]=Pastas
Name[es]=Gestor Panel
