[Desktop Entry]
Exec=tabmanager
Icon=tabmanager/tabmanager
Type=Settings
Name=Tab Manager
Comment=Tab Managing Tool
Name[es]=Gestor Etiquetas
Comment[es]=Herramienta para gestionar las etiquetas superiores
Name[fr]=Onglets
Name[it]=Gestione Tab
Name[ko]=탭 관리자
Name[pt]=Pastas
Comment[pt]=Gestor de pastas
Name[pt_BR]=Pastas
Comment[pt_BR]=Gerenciador de pastas
Name[zh_TW]=Tab Manager
