[Desktop Entry]
Comment=Tab Managing Tool
Comment[es]=Herramienta para gestionar las etiquetas superiores
Exec=tabmanager
Icon=tabmanager/tabmanager
Type=Settings
Name=Tab Manager
Name[pt]=Pastas
Name[es]=Gestor Etiquetas
Name[it]=Gestione Tab
Name[zh_TW]=Tab Manager
Name[ko]=탭 관리자
