[Desktop Entry]
Exec=usermanager
Icon=usermanager/usermanager
Type=Setting
Name=User Manager
Comment=User Manager
Name[da]=Brugerhåndtering
Name[es]=Gestor Usuarios
Comment[es]=Gestor de usuarios
Name[fr]=Utilisateurs
Comment[fr]=Gestionnaire des utilisateurs
Name[it]=Gestione Utenti
Comment[it]=Gestione utenti
Name[pt]=Utilizadores
Comment[pt]=Gestor de utilizadores
Name[pt_BR]=Usuários
Comment[pt_BR]=Gestor de usuários
Name[sl]=Upravljalnik uporabnikov
Comment[sl]=Upravljalnik uporabnikov
Name[nl]=Gebruikersmanager
Comment[nl]=Gebruikers beheren (nog niet ondersteund)
Name[lv]=Lietotāji
Comment[lv]=Lietotāju menedžeris
Name[ru]=Пользователи
Comment[ru]=Управление пользователями
