[Desktop Entry]
Comment=Wireless LAN Setup
Exec=wlansetup
Icon=wlansetup/wlan
Type=Settings
Name=Wireless LAN Setup
Name[pt]=Rede Wireless
Name[es]=Red Inalámbrica
Name[zh_TW]=無線上網設定
