[Desktop Entry]
Exec=wlansetup
Icon=wlansetup/wlan
Type=Settings
Name=Wireless LAN Setup
Comment=Wireless LAN Setup
Name[es]=Red Inalámbrica
Comment[es]=Configuración de red inalámbrica
Name[fr]=Réseau Radio
Comment[fr]=Gestionnaire du réseau sans fil
Name[it]=Rete Wireless
Comment[it]=Impostazioni WLAN
Name[pt]=Rede Sem Fios
Comment[pt]=Configuração da rede sem fios (WiFi)
Name[pt_BR]=Rede Sem Fios
Comment[pt_BR]=Configuração da rede sem fios (WiFi)
Name[zh_TW]=無線上網設定
Name[sl]=Nastavitve WLAN
Comment[sl]=Nastavitve WLAN
Name[nl]=WiFi Instelling
Comment[nl]=Wireless LAN instellingen
