[Desktop Entry]
Exec=backgammon
Icon=backgammon/backgammon
Type=Application
Name=BackGammon
Comment=Backgammon
Name[de]=Backgammon
Name[pt]=Backgammon
Comment[pt]=Jogo Backgammon
Name[pt_BR]=Backgammon
Comment[pt_BR]=Jogo Backgammon
Name[sl]=BackGammon
Comment[sl]=BackGammon
Name[nl]=BackGammon