[Desktop Entry]
Exec=backgammon
Icon=backgammon/backgammon
Type=Application
Name=BackGammon
Comment=Backgammon
Name[fr]=Back Gammon
Comment[fr]=Jeux de BackGammon
Name[de]=Backgammon
Name[it]=BackGammon
Comment[it]=BackGammon
Name[pt]=Backgammon
Comment[pt]=Jogo Backgammon
Name[pt_BR]=Backgammon
Comment[pt_BR]=Jogo Backgammon
Name[sl]=BackGammon
Comment[sl]=BackGammon
Name[nl]=BackGammon
