[Desktop Entry]
Exec=bounce
Icon=bounce/bounce
Type=Application
Name=Bounce
Comment=A JezzGame
Name[fr]=Bounce
Comment[fr]=Jeu basé sur les rebonds
Name[de]=Bounce
Name[it]=Bounce
Comment[it]=Bounce
Name[es]=Rebote
Comment[es]=El juego Jezz
Name[pt]=Bounce
Comment[pt]=Preencha o espaço sem que as bolas atinjam as suas paredes
Name[pt_BR]=Bounce
Comment[pt_BR]=Preencha o espaço sem que as bolas atinjam as suas paredes
Name[sl]=Odboj
Comment[sl]=Odboj
Name[nl]=Bounce
Comment[nl]=Een stuiterspel
