[Desktop Entry]
Type=Application
Exec=bounce
Icon=bounce/bounce
Comment=A JezzGame
Comment[es]=El juego Jezz
Name=Bounce
Name[de]=Bounce
Name[es]=Rebote
