[Desktop Entry]
Exec=bounce
Icon=bounce/bounce
Type=Application
Name=Bounce
Comment=A JezzGame
Name[de]=Bounce
Name[es]=Rebote
Comment[es]=El juego Jezz
Name[pt]=Salta
Comment[pt]=O jogo salta
Name[pt_BR]=Salta
Comment[pt_BR]=O jogo salta