[Desktop Entry]
Exec=fifteen
Icon=fifteen/Fifteen
Type=Application
Name=Fifteen Pieces
Comment=Fifteen Pieces Strategy Game
Name[de]=Fünfzehn
Name[es]=Quince Piezas
Comment[es]=Juego de estrategia de las 15 piezas
Name[it]=Gioco del 15
Name[fr]=Quinze Pièces
Comment[fr]=Jeu de puzzle de 15 pièces
omment[it]=Gioco del 15
Name[pt]=Puzzle
Comment[pt]=Jogo Puzzle
Name[pt_BR]=Puzzle
Comment[pt_BR]=Jogo Puzzle
Name[zh_TW]=Fifteen Pieces
Name[sl]=Petnajst kosov
Comment[sl]=Strateška igra s petnajstimi kosi
Name[nl]=Schuifpuzzel
Comment[nl]=Een schuifpuzzelspel met 15 stukjes
