[Desktop Entry]
Comment=Fifteen Pieces Strategy Game
Exec=fifteen
Icon=fifteen/Fifteen
Type=Application
Name=Fifteen Pieces
Name[pt]=Puzzle
Name[es]=Quince Piezas
Name[it]=Gioco del 15
Name[de]=Fünfzehn
Name[zh_TW]=Fifteen Pieces
Name[ko]=ì­ì€ ì¡°ê°
Comment[es]=Juego de estrategia de las 15 piezas
