[Desktop Entry]
Exec=go
Icon=go/Go
Type=Application
Name=Go
Comment=A Board Strategy Game
Name[de]=Go
Name[es]=Go
Comment[es]=Juego de estategia de tablero
Name[it]=Go
Name[pt]=Go
Comment[pt]=Jogo GO
Name[pt_BR]=Go
Comment[pt_BR]=Jogo GO
Name[zh_TW]=圍棋
Name[sl]=Pojdi
Comment[sl]=Strateška namizna igra
