[Desktop Entry]
Comment=A Board Strategy Game
Comment[es]=Juego de estategia de tablero
Exec=go
Icon=go/Go
Type=Application
Name=Go
Name[pt]=Go
Name[es]=Go
Name[de]=Go
Name[it]=Go
Name[zh_TW]=圍棋
Name[ko]=바둑
