[Desktop Entry]
Exec=kbill
Icon=kbill/kbill
Type=Application
Name=kbill
Comment=Hit Bill
Name[de]=kBill
Name[es]=kBill
Comment[es]=Pégale a Bill
Name[it]=kBill

Name[pt]=kBill
Comment[pt]=Mata o Bill
Name[pt_BR]=kBill
Comment[pt_BR]=Mata o Bill
Name[zh_TW]=kbill
