[Desktop Entry]
Exec=kbill
Icon=kbill/kbill
Type=Application
Name=kbill
Comment=Hit Bill
Name[de]=kBill
Name[es]=kBill
Comment[es]=Pégale a Bill
Name[it]=kBill
Name[ko]=kBill
Name[pt]=kBill
Name[zh_TW]=kbill
