[Desktop Entry]
Comment=Hit Bill
Comment[es]=Pégale a Bill
Exec=kbill
Icon=kbill/kbill
Type=Application
Name=kbill
Name[pt]=kBill
Name[es]=kBill
Name[it]=kBill
Name[de]=kBill
Name[zh_TW]=kbill
Name[ko]=kBill
