[Desktop Entry]
Exec=kcheckers
Icon=kcheckers/KCheckers
Type=Application
Name=KCheckers
Comment=A Ckeckers Game
Name[de]=KCheckers
Name[es]=Damas
Comment[es]=El juego de las Damas
Name[it]=KCheckers
Comment[it]=Dama
Name[pt]=Damas
Comment[pt]=Jogo das damas
Name[pt_BR]=Damas
Comment[pt_BR]=Jogo das damas
Name[zh_TW]=KCheckers
Name[sl]=Dama
Comment[sl]=Dama
Name[nl]=Dammen
Comment[nl]=Een damspel
