[Desktop Entry]
Type=Application
Exec=kpacman
Icon=kpacman/kpacman
Comment=
Comment[de]=
Name=Kpacman
Name[de]=Kpacman
Name[pt]=Pac Man
Name[es]=Kpacman
Name[zh_TW]=食鬼
