[Desktop Entry]
Exec=kpacman
Icon=kpacman/kpacman
Type=Application
Name=Kpacman
Name[de]=Kpacman
Name[es]=Kpacman
Name[it]=KPacman
Comment[it]=Pac Man
Name[pt]=Pac Man
Comment[pt]=Ms. Pac Man
Name[pt_BR]=Pac Man
Comment[pt_BR]=Ms. Pac Man
Name[zh_TW]=食鬼
Name[sl]=Kpacman
Name[nl]=Pacman
Comment[nl]=Da oerklassieker
