[Desktop Entry]
Exec=kpacman
Icon=kpacman/kpacman
Type=Application
Name=Kpacman
Name[de]=Kpacman
Name[es]=Kpacman
Name[it]=Kpacman (Pac Man)
Name[ko]=K팩맨
Name[pt]=Pac Man
Name[pt_BR]=Pac Man
Name[zh_TW]=食鬼
