[Desktop Entry]
Exec=mindbreaker
Icon=mindbreaker/Mindbreaker
Type=Application
Name=Mindbreaker
Comment=A Code Breaking Game
Name[fr]=Mastermind
Comment[fr]=Jeu de recherche de code
Name[de]=Mindbreaker
Name[es]=Rompecabezas
Comment[es]=Juego de romper códigos
Name[it]=Mind Breaker
Comment[it]=Mastermind
Name[pt]=Mastermind
Comment[pt]=Jogo de mastermind
Name[pt_BR]=Mindbreaker
Comment[pt_BR]=Jogo de quebrar códigos
Name[zh_TW]=智慧棋
Name[sl]=Lomilecpameti
Comment[sl]=Igra za razbijanje kode
Name[nl]=Mindbreaker
Comment[nl]=Een MasterMind kloon

