[Desktop Entry]
Comment=A Code Breaking Game
Exec=mindbreaker
Icon=Mindbreaker
Type=Application
Name=Mindbreaker
Name[pt]=Mindbreaker
Name[es]=Rompecabezas
Name[it]=Rompicapo
Name[zh_TW]=智慧棋
Name[ko]=마인드 브레이커
