[Desktop Entry]
Comment=Find the mines
Exec=minesweep
Icon=MineHunt
Type=Application
Name=Mine Hunt
Name[pt_BR]=Caca-Minas
Name[no]=Minesøk
Name[de]=Minenjagd
Name[ja]=マインスィープ
Name[hu]=Aknakeresõ
Name[pt]=Minas
Name[es]=Busca Minas
