[Desktop Entry]
Comment=Find the mines
Exec=minesweep
Icon= minesweep/MineHunt
Type=Application
Name=Mine Hunt
Name[pt_BR]=Caca-Minas
Name[no]=Minesøk
Name[de]=Minenjagd
Name[ja]=マインスィープ
Name[hu]=Aknakeresõ
Name[it]=Campo Minato
Name[pt]=Minas
Name[es]=Busca Minas
Name[zh_TW]=踩地雷
Name[ko]=지뢰
