[Desktop Entry]
Exec=minesweep
Icon=minesweep/MineHunt
Type=Application
Name=Mine Hunt
Comment=Find the mines
Name[de]=Minenjagd
Name[es]=Busca Minas
Comment[es]=Busca las minas
Name[fr]=Démineur
Name[hu]=Aknakeresõ
Name[it]=Campo Minato
Name[no]=Minesøk
Name[pt]=Minas
Comment[pt]=Procura as minas
Name[pt_BR]=Caça-Minas
Comment[pt_BR]=Caça as minas
Name[zh_TW]=踩地雷
Name[sl]=Minolovec
Comment[sl]=Najdi mine
