[Desktop Entry]
CanFastload = 0
Categories = 
Comment = Classic Dungeon Adventure Game
Exec = nethack
Icon = nethack/nethack
Name = NetHack
Type = Games
Name[pt]=RPG NetHack
