[Desktop Entry]
CanFastload = 0
Categories = 
Comment = Classic Dungeon Adventure Game
Comment[es]=Clásico juego de mazmorras
Exec = nethack
Icon = nethack/nethack
Name = NetHack
Type = Games
Name[pt]=RPG NetHack
Name[es]=NetHack
Name[it]=NetHack
Name[de]=NetHack
Name[zh_TW]=NetHack
Name[ko]=네트핵
