[Desktop Entry]
CanFastload=0
Exec=nethack
Icon=nethack/nethack
Type=Games
Name=NetHack
Comment=Classic Dungeon Adventure Game
Name[de]=NetHack
Name[es]=NetHack
Comment[es]=Clásico juego de mazmorras
Name[it]=NetHack
Comment[it]=Classico RPG
Name[pt]=RPG NetHack
Comment[pt]=Jogo clássico RPG de masmorras
Name[pt_BR]=RPG NetHack
Comment[pt_BR]=Jogo clássico RPG de masmorras
Name[zh_TW]=NetHack
Name[sl]=NetHack
Comment[sl]=Klasična pustolovska igra
Name[nl]=NetHack
Comment[nl]=Een klassiek rokkenspel
