[Desktop Entry]
Exec=oyatzee
Icon=oyatzee/oyatzee
Type=Application
Name=OYatzee
Comment=The Game of Yatzee
Name[de]=Kniffel
Comment[de]=Kniffel Würfelspipel
