[Desktop Entry]
Exec=parashoot
Icon=parashoot/ParaShoot
Type=Application
Name=ParaShoot
Comment=A Parachute Attack Game
Name[de]=Fallschirmjäger
Name[es]=Paracas
Comment[es]=Un juego de ataque de paracaidistas
Name[hu]=Védd a bázist
Name[it]=ParaShoot
Name[no]=Fallskjerm
Name[pt]=Pára-Quedas
Comment[pt]=Jogo do ataque de paraquedistas
Name[pt_BR]=Pára-Quedas
Comment[pt_BR]=Jogo do ataque de paraquedistas
Name[zh_TW]=ParaShoot
Name[sl]=Padalec
Comment[sl]=Bojna igra
Name[nl]=Parachute
Comment[nl]=Parachutistenjacht