[Desktop Entry]
Comment=A Parachute Attack Game
Exec=parashoot
Icon=parashoot/ParaShoot
Type=Application
Name=ParaShoot
Name[no]=Fallskjerm
Name[de]=Fallschirmjäger
Name[hu]=Védd a bázist
Name[pt]=Pára-Quedas
Name[es]=Paracas
Name[it]=ParaShoot
Name[zh_TW]=ParaShoot
Name[ko]=낙하쏘기
