[Desktop Entry]
Comment=A Game of Patience
Exec=patience
Icon=Solitaire
Type=Application
Name=Patience
Name[no]=Kabal
Name[de]=Patience
Name[ja]=ソリティア
Name[hu]=Passziánsz
