[Desktop Entry]
Comment=A Game of Patience
Exec=patience
Icon=cards/Solitaire
Type=Application
Name=Patience
Name[pt_BR]=Paciencia
Name[no]=Kabal
Name[de]=Patience
Name[ja]=ソリティア
Name[hu]=Passziánsz
Name[it]=Solitario
Name[pt]=Solitário
Name[es]=Paciencia
Name[zh_TW]=接龍
Name[ko]=카드놀이
