[Desktop Entry]
Exec=patience
Icon=cards/Solitaire
Type=Application
Name=Patience
Comment=A Game of Patience
Name[de]=Patience
Name[es]=Paciencia
Comment[es]=Juego de paciencia
Name[hu]=Passziánsz
Name[it]=Solitario
Name[no]=Kabal
Name[pt]=Solitário
Name[pt_BR]=Paciencia
Name[zh_TW]=接龍
