[Desktop Entry]
Comment=Shoot the rocks
Comment[es]=Dispare a las rocas
Exec=qasteroids
Icon=qasteroids/Asteroids
Type=Application
Name=Asteroids
Name[hu]=Asteroids
Name[de]=Asteroiden
Name[pt]=Asteróides
Name[es]=Asteroides
Name[it]=Asteroids
Name[zh_TW]=Asteroids
Name[ko]=아스트로이드
