[Desktop Entry]
Comment=Shoot the rocks
Exec=qasteroids
Icon=qasteroids/Asteroids
Type=Application
Name=Asteroids
Name[hu]=Asteroids
Name[de]=Asteroiden
