[Desktop Entry]
Exec=qasteroids
Icon=qasteroids/Asteroids
Type=Application
Name=Asteroids
Comment=Shoot the rocks
Name[de]=Asteroiden
Comment[de]=Raumschiff vor Asteroiden schuetzen
Name[es]=Asteroides
Comment[es]=Dispare a las rocas
Name[fr]=Astéroïdes
Comment[fr]=Détruisez les astéroïdes
Name[hu]=Asteroids
Name[it]=Asteroids
Comment[it]=Asteroids
Name[pt]=Asteróides
Comment[pt]=Dispare contra as rochas
Name[pt_BR]=Asteróides
Comment[pt_BR]=Dispare contra as rochas
Name[zh_TW]=Asteroids
Name[sl]=Asteroidi
Comment[sl]=Sestreli skale
