[Desktop Entry]
Type=Application
Exec=sfcave_sdl
Icon=sfcave-sdl
Comment=Fly the dot though the cave avoiding the walls
Comment[es]=Haga saltar la pulga en la cueva evitanto las paredes
Comment[pt]=Faça saltar a pulga na cave, evitando as paredes
Comment[pt_BR]=Faça saltar a pulga na cave, evitando as paredes
Name=SFCave-SDL
Name[es]=La Pulga
Name[pt]=Pulga
Name[pt_BR]=Pulga