[Desktop Entry]
Exec=sfcave_sdl
Icon=sfcave-sdl
Type=Application
Name=SFCave-SDL
Comment=Fly the dot though the cave avoiding the walls
Name[es]=La Pulga
Comment[es]=Haga saltar la pulga en la cueva evitanto las paredes
Name[pt]=Pulga
Comment[pt]=Faça saltar a pulga na cave, evitando as paredes
Name[pt_BR]=Pulga
Comment[pt_BR]=Faça saltar a pulga na cave, evitando as paredes
