[Desktop Entry]
Type=Application
Exec=sfcave
Icon=sfcave/sfcave
Comment=Fly the dot though the cave avoiding the walls
Comment[es]=Haga saltar la pulga en la cueva evitanto las paredes
Name=SFCave
Name[es]=La Pulga
