[Desktop Entry]
Exec=sfcave
Icon=sfcave/sfcave
Type=Application
Name=SFCave
Comment=Fly the dot though the cave avoiding the walls
Name[es]=La Pulga
Comment[es]=Haga saltar la pulga en la cueva evitanto las paredes
Name[fr]=SFCave
Comment[fr]=Evitez les obstacles et les murs
Name[it]=SFCave
Comment[it]=SFCave
Name[pt]=A cave
Comment[pt]=Voe na cave sem tocar nas paredes
Name[pt_BR]=A cave
Comment[pt_BR]=Voe na cave sem tocar nas paredes
Name[sl]=SFVotlina
Comment[sl]=Prepelji piko čez votlino
Name[nl]=SFCave
Comment[nl]=Vlieg met de stip door de grot met muren
