[Desktop Entry]
Exec=sfcave_sdl
Icon=sfcave-sdl
Type=Application
Name=SFCave-SDL
Comment=Fly the dot though the cave avoiding the walls
Name[es]=La Pulga
Comment[es]=Haga saltar la pulga en la cueva evitanto las paredes
Name[fr]=SFCave SDL
Comment[fr]=Eviter les obstacles et les murs
Name[it]=SFCave-SDL
Comment[it]=SFCave versione SDL
Name[pt]=A cave
Comment[pt]=Voe na cave sem tocar nas paredes
Name[pt_BR]=A cave
Comment[pt_BR]=Voe na cave sem tocar nas paredes
Name[sl]=SFVotlina-SDL
Comment[sl]=Prepelji piko čez votlino
Name[nl]=SFCave-SDL
Comment[nl]=Vlieg met de stip door de grot met muren
