[Desktop Entry]
Comment=A Snake Game
Exec=snake
Icon=Snake
Type=Application
Name=Snake
Name[pt_BR]=Cobra
Name[no]=Slange
Name[de]=Schlange
Name[hu]=Kígyó
Name[pt]=Cobra
