[Desktop Entry]
Exec=snake
Icon=snake/Snake
Type=Application
Name=Snake
Comment=A Snake Game
Name[de]=Schlange
Name[es]=Serpiente
Comment[es]=El juego de la serpiente
Name[fr]=Serpent
Comment[fr]=Ne vous mordez pas la queue !
Name[hu]=Kígyó
Name[it]=Snake
Comment[it]=Snake
Name[no]=Slange
Name[pt]=Cobra
Comment[pt]=O jogo da cobra
Name[pt_BR]=Cobra
Comment[pt_BR]=O jogo da cobra
Name[zh_TW]=貪食蛇
Name[sl]=Kača
Comment[sl]=Kača
Name[nl]=Snake
Comment[nl]=Het bekende spelletje
