[Desktop Entry]
Exec=tetrix
Icon=tetrix/Tetrix
Type=Application
Name=Tetrix
Comment=A Block Stacking Game
Name[de]=Tetris
Name[es]=Tetrix
Comment[es]=Un juego de apilar bloques
Name[it]=Tetrix
Name[pt]=Tetris
Comment[pt]=Jogo Tetris
Name[pt_BR]=Tetris
Comment[pt_BR]=Jogo Tetris
Name[zh_TW]=俄羅斯方塊
Name[sl]=Tetrix
Comment[sl]=Igra z bloki
