[Desktop Entry]
Exec=tetrix
Icon=tetrix/Tetrix
Type=Application
Name=Tetrix
Comment=A Block Stacking Game
Name[de]=Tetris
Comment[de]=Ein Blockstapelspiel
Name[es]=Tetrix
Comment[es]=Un juego de apilar bloques
Name[fr]=Tetris
Comment[fr]=Jeu de construction de ligne
Name[it]=Tetrix
Comment[it]=Tetris
Name[pt]=Tetris
Comment[pt]=Jogo Tetris
Name[pt_BR]=Tetris
Comment[pt_BR]=Jogo Tetris
Name[zh_TW]=俄羅斯方塊
Name[sl]=Tetrix
Comment[sl]=Igra z bloki
Name[nl]=Tetrix
Comment[nl]=Tetris kloon
Name[ru]=Тетрис
Comment[ru]=Игра "Тетрис"