[Desktop Entry]
Comment=A Block Stacking Game
Comment[es]=Un juego de apilar bloques
Exec=tetrix
Icon=tetrix/Tetrix
Type=Application
Name=Tetrix
Name[ja]=テトリックス
Name[pt]=Tetris
Name[es]=Tetrix
Name[it]=Tetris
Name[de]=Tetris
Name[zh_TW]=俄羅斯方塊
Name[ko]=테트릭스
