[Desktop Entry]
Exec=tictac
Icon=tictac/Tictac
Type=Application
Name=Tictac
Name[pt_BR]=Jogo da Velha
Name[pt]=Jogo da Velha
Name[es]=Tic Tac
Name[it]=Tris
Name[zh_TW]=Tictac
Name[ko]=틱택토
