[Desktop Entry]
Exec=tictac
Icon=tictac/Tictac
Type=Application
Name=Tictac
Comment=Tic Tac Toe game
Name[de]=Tic Tac To
Name[es]=Tic Tac
Comment[es]=Juego del Tic Tac Toe
Name[it]=Tic Tac
Name[pt]=Jogo da Velha
Comment[pt]=Jogo da Velha
Name[pt_BR]=Jogo da Velha
Comment[pt_BR]=Jogo da Velha
Name[zh_TW]=Tictac
Name[sl]=Križci in krožci
Comment[sl]=Križci in krožci
Name[nl]=Tic Tac Toe
Comment[nl]=Boter Kaas en Eieren