[Desktop Entry]
Comment=A word arranging game
Exec=wordgame
Icon=WordGame
Type=Application
Name=Word Game
Name[pt_BR]=Palavras Cruzadas
Name[no]=Kryss-Ord
Name[de]=Wortspiel
Name[hu]=Szójáték
Name[pt]=Palavras Cruzadas
Name[es]=Crucigrama
