[Desktop Entry]
Exec=wordgame
Icon=wordgame/WordGame
Type=Application
Name=Word Game
Comment=A word arranging game
Name[de]=Wortspiel
Name[es]=Crucigrama
Comment[es]=Juego de organizar palabras
Name[hu]=Szójáték
Name[it]=Scarabeo
Name[no]=Kryss-Ord
Name[pt]=Palavras Cruzadas
Comment[pt]=Jogo de palavras cruzadas
Name[pt_BR]=Palavras Cruzadas
Comment[pt_BR]=Jogo de palavras cruzadas
Name[zh_TW]=文字遊戲
