[Desktop Entry]
Comment=A word arranging game
Exec=wordgame
Icon=wordgame/WordGame
Type=Application
Name=Word Game
Name[pt_BR]=Palavras Cruzadas
Name[no]=Kryss-Ord
Name[de]=Wortspiel
Name[hu]=Szójáték
Name[it]=Scarabeo
Name[pt]=Palavras Cruzadas
Name[es]=Crucigrama
Name[zh_TW]=文字遊戲
Name[ko]=글자 놀이
