[Desktop Entry]
Comment=An Address Book Program
Comment[fr]=Un repertoire
Comment[es]=Una libreta de direcciones
Comment[da]=Adressebog med kontaktpersoner, adresser, telefonnumre m.m.
Exec=addressbook
Icon=AddressBook
Type=Application
Name=Contacts
MimeType=text/x-vCard
Name[pt_BR]=Contactos
Name[no]=Adressebok
Name[de]=Adressbuch
Name[hu]=Címtár
Name[it]=Rubrica
Name[pt]=Contactos
Name[es]=Contactos
Name[zh_TW]=地址簿
Name[ko]=주소록
Name[da]=Adressebog
Name[fr]=Repertoire
