[Desktop Entry]
Categories = 
Comment = An Address Book Program
Comment[da] = Adressebog med kontaktpersoner, adresser, telefonnumre m.m.
Comment[es] = Una libreta de direcciones
Comment[fr] = Un répertoire
Exec = addressbook
File = 
Icon = addressbook/AddressBook
MimeType = text/x-vCard
Name = Contacts
Name[da] = Adressebog
Name[de] = Adressbuch
Name[es] = Contactos
Name[fr] = Répertoire
Name[hu] = Címtár
Name[it] = Rubrica
Name[ko] = 주소록
Name[no] = Adressebok
Name[pt] = Contactos
Name[pt_BR] = Contactos
Name[zh_TW] = 地址簿
Type = 1Pim
