[Desktop Entry]
Exec=addressbook
Icon=addressbook/AddressBook
MimeType=text/x-vCard
Type=1Pim
Name=Contacts
Comment=An Address Book Program
Name[da]=Adressebog
Comment[da]=Adressebog med kontaktpersoner, adresser, telefonnumre m.m.
Name[de]=Adressbuch
Name[es]=Contactos
Comment[es]=Una libreta de direcciones
Name[fr]=Répertoire
Comment[fr]=Un répertoire
Name[hu]=Címtár
Name[it]=Rubrica
Name[no]=Adressebok
Name[pt]=Contactos
Comment[pt]=Gestor de contactos
Name[pt_BR]=Contactos
Comment[pt_BR]=Gerenciador de contactos
Name[zh_TW]=地址簿
