[Desktop Entry]
Exec=datebook
Icon=datebook/DateBook
Type=1Pim
Name=Calendar
Comment=A Calendar and Scheduling Program
Name[da]=Kalender
Comment[da]=Et kalender og planlægnings program
Name[de]=Termine
Comment[de]=Ein Terminkalender
Name[es]=Calendario
Comment[es]=Un calendario y planificador
comment[fr]=Un calendrier et planificateur de tâches
Name[fr]=Agenda
Name[hu]=Naptár
Name[it]=Agenda
Name[no]=Avtalebok
Name[pt]=Calendário
Comment[pt]=Gestor de tempo
Name[pt_BR]=Calendário
Comment[pt_BR]=Gestor de tempo
Name[zh_TW]=行事歷
Name[sl]=Koledar
Comment[sl]=Program za koledar in načrtovanje opravil
