[Desktop Entry]
Comment=A Calendar and Scheduling Program
Comment[es]=Un calendario y planificador
Comment[da]=Et kalender og planlægnings program
Comment[de]=Ein Terminkalender
Exec=datebook
Icon=DateBook
Type=Application
Name=Calendar
Name[pt_BR]=Calendário
Name[no]=Avtalebok
Name[de]=Termine
Name[hu]=Naptár
Name[it]=Agenda
Name[pt]=Calendário
Name[es]=Calendario
Name[zh_TW]=行事歷
Name[ko]=일정관리
Name[da]=Kalender
