[Desktop Entry]
Comment=A Note Taking Program
Comment[es]=Un programa para tomar notas
Comment[da]=Et program til at tage noter med
Exec=drawpad
Icon=drawpad/DrawPad
Type=Application
Name=DrawPad
Name[de]=Schmierzettel
Name[pt]=Bloco Rabiscos
Name[es]=Pizarra
Name[it]=DrawPad
Name[zh_TW]=小畫家
Name[ko]=그림판
Name[da]=Tegnebrædt
