[Desktop Entry]
Exec=mailit
Icon=mailit/desktopicon
Type=Application
Name=Mail-it
Name[it]=Posta
Comment[it]=Programma di posta elettronica
Name[pt]=E-Mail
Comment[pt]=Leitor de E-Mail (mailit)
Name[pt_BR]=E-Mail
Comment[pt_BR]=Leitor de E-Mail (mailit)
Name[sl]=Pošlji
