[Desktop Entry]
Name=E-Mail
Exec=maild
Type=Application
Icon=mail/desktopicon
Name[pt]=E-Mail
Name[es]=Correo-e
Name[]=EMail
Name[it]=Posta
Name[zh_TW]=電郵
Name[ko]=이메일
