[Desktop Entry]
Exec=opiemail
Icon=mail/desktopicon
Type=Application
Name=E-Mail
Name[es]=Correo-e
Name[fr]=E-mail
Comment[fr]=Gestionnaire de courrier électronique
Name[it]=Posta
Comment[it]=Programma di posta elettronica
Name[pt]=E-Mail
Comment[pt]=Leitor de e-mail
Name[pt_BR]=E-Mail
Comment[pt_BR]=Leitor de e-mail
Name[zh_TW]=電郵
Name[sl]=Pošta
Name[nl]=E-Mail
Comment[nl]=Een e-maillezer
Name[de]=E-Mail
Comment[de]=E-Mail Programm
Name[ru]=E-Mail
Comment[ru]=Электронная почта
