[Desktop Entry]
Exec=osearch
Icon=osearch/OSearch
Type=Application
Name=search
Comment=Seach your data
Name[de]=suchen
Name[pt]=Procura
Comment[pt]=Procure os dados
Name[pt_BR]=Procura
Comment[pt_BR]=Procure os dados
