[Desktop Entry]
Exec=osearch
Icon=osearch/OSearch
Type=Application
Name=search
Comment=Search your data
Name[de]=suchen
Name[pt]=Procurar
Comment[pt]=Procure os seus dados
Name[pt_BR]=Procura
Comment[pt_BR]=Procure os seus dados
Name[sl]=Išči
Comment[sl]=Išči med podatke