[Desktop Entry]
Comment=A Text Editing Program
Comment[es]=Un editor de textos
Comment[da]=Et tekst redigerings program
Exec=textedit
Icon=TextEditor
Type=Application
MimeType=text/plain
Name=Text Editor
Name[pt_BR]=Editor de Textos
Name[no]=Teksteditor
Name[de]=Texteditor
Name[ja]=テキストエディタ
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Name[ko]=텍스트 편집기
Name[hu]=Szöveg- szerkesztõ
Name[pt]=Editor Texto
Name[es]=Editor
Name[da]=Teksteditor
