[Desktop Entry]
Exec=textedit
Icon=textedit/TextEditor
MimeType=text/plain
Type=Application
Name=Text Editor
Comment=A Text Editing Program
Name[da]=Teksteditor
Comment[da]=Et tekst redigerings program
Name[de]=Texteditor
Comment[de]=Programm zum Editieren von Texten
Name[es]=Editor
Comment[es]=Un editor de textos
Name[fr]=Editeur
Comment[fr]=Un éditeur de texte
Name[hu]=Szöveg- szerkesztõ
Name[it]=Blocco Note
Comment[it]=Blocco appunti
Name[no]=Teksteditor
Name[pt]=Texto
Comment[pt]=Editor de texto
Name[pt_BR]=Editor de Textos
Comment[pt_BR]=Editor de textos
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Name[sl]=Urejevalnik besedila
Comment[sl]=Program za urejanje besedila
Name[nl]=Kladblok
Comment[nl]=Tekstverwerker
Name[ru]=Редактор
Comment[ru]=Текстовый редактор