[Desktop Entry]
Comment=Today App
Comment[es]=Aplicación Hoy
Comment[da]=Viser en oversigt over dagens begivenheder
Comment[fr]=Application "Aujourd'hui"
Comment[pt]=Aplicação "Hoje"
Comment[pt_BR]=Aplicação "Hoje"
Exec=today
Icon=today/today_icon
Type=Application
Name=Today
Name[pt_BR]=Hoje
Name[de]=Heute
Name[pt]=Hoje
Name[es]=Hoy
Name[it]=Oggi
Name[zh_TW]=Today
Name[ko]=오늘
Name[da]=Idag
Name[fr]=Aujourd'hui
