[Desktop Entry]
Exec=today
Icon=today/today_icon
Type=Application
Name=Today
Comment=Today App
Name[da]=Idag
Comment[da]=Viser en oversigt over dagens begivenheder
Name[de]=Heute
Name[es]=Hoy
Comment[es]=Aplicación Hoy
Name[fr]=Aujourd'hui
Comment[fr]=Application "Aujourd'hui"
Name[it]=Oggi
Name[ko]=오늘
Name[pt]=Hoje
Comment[pt]=Aplicação "Hoje"
Name[pt_BR]=Hoje
Comment[pt_BR]=Aplicação "Hoje"
Name[zh_TW]=Today
