[Desktop Entry]
Exec=today
Icon=today/today_icon
Type=Application
Name=Today
Comment=Today App
Name[da]=Idag
Comment[da]=Viser en oversigt over dagens begivenheder
Name[de]=Heute
Name[es]=Hoy
Comment[es]=Aplicación Hoy
Name[fr]=Aujourd'hui
Comment[fr]=Affichage condensé des rendez-vous, des tâches... du jour
Name[it]=Oggi
Comment[it]=Impegni di oggi
Name[pt]=Hoje
Comment[pt]=Aplicação "Hoje"
Name[pt_BR]=Hoje
Comment[pt_BR]=Aplicação "Hoje"
Name[zh_TW]=Today
Name[sl]=Danes
Comment[sl]=Prikaz dnevnih opravil
Name[nl]=Vandaag
Comment[nl]=Dagoverzicht
