[Desktop Entry]
Categories =
Comment = A Todo List Program
Comment[da] = Et program til styring af opgaver
Comment[de] = Ein Programm zur Verwaltung von Aufgaben
Comment[es] = Un programa de lista de tareas
Comment[fr] = Un programme de liste de tâches
Comment[pt] = Gestor de tarefas
Comment[pt_BR] = Gerenciador de afazeres
Exec = todolist
File =
Icon = todo/TodoList
Name = Todo List
Name[da] = Opgaveliste
Name[de] = Aufgaben
Name[es] = Tareas
Name[fr] = Tâches
Name[hu] = Feladatok
Name[it] = Impegni
Name[ko] = 할일 목록
Name[no] = Oppgaveliste
Name[pt] = Tarefas
Name[pt_BR] = Afazeres
Name[zh_TW] = 待辦事項
Type = 1Pim
