[Desktop Entry]
Exec=todolist
Icon=todo/TodoList
Type=1Pim
Name=Todo List
Comment=A Todo List Program
Name[da]=Opgaveliste
Comment[da]=Et program til styring af opgaver
Name[de]=Aufgaben
Comment[de]=Ein Programm zur Verwaltung von Aufgaben
Name[es]=Tareas
Comment[es]=Un programa de lista de tareas
Name[fr]=Tâches
Comment[fr]=Un programme de liste de tâches
Name[hu]=Feladatok
Name[it]=Impegni

Name[no]=Oppgaveliste
Name[pt]=Tarefas
Comment[pt]=Gestor de tarefas
Name[pt_BR]=Afazeres
Comment[pt_BR]=Gerenciador de afazeres
Name[zh_TW]=待辦事項
