# comment lines must start with a '#' (for now...)
# order is: row qcode unicode length blah
#
# please don't write anything between a key definition and its xpm (except for spaces)
# Czech keyboard layout created by pavouk at pavouk.org
# TODO: RING ABOVE and CARON modifier key support.
title = Czech
sw = CZ

1 0x1000    0       1 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0         0x3b    1  # but not after xpm images... k?
0x3b	0x2da
m 0x3b	0x60
m 0x2da	0x7e
1 0         0x2b    2
0x2b	0x31
m 0x2b	0x21
1 0         0x11b    2
0x11b	0x32
m 0x11b	0x40
1 0         0x161    2
0x161	0x33
m 0x161	0x23
1 0         0x10d    2
0x10d	0x34
m 0x10d	0x24
1 0         0x159    2
0x159	0x35
m 0x159	0x25
1 0         0x17e    2
0x17e	0x36
m 0x17e 0x5e
1 0         0xfd    2
0xfd	0x37
m 0xfd	0x26
1 0         0xe1    2
0xe1	0x38
m 0xe1	0x2a
1 0         0xed    2
0xed	0x39
m 0xed	0x7b
1 0         0xe9    2
0xe9	0x30
m 0xe9	0x7d
1 0         0x3d    2
0x3d	0x25
m 0x3d	0x5c
1 0         0x2ca    2
0x2ca	0x2c7
m 0x2ca	0xaf
m 0x2c7	0xb8
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0x1001    0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."
2 0         0x71    2
0x71	0x51
m 0x71	0x5c
m 0x51	0x3a9
2 0         0x77    2
0x77	0x57
m 0x77	0x7c
m 0x57	0x141
2 0         0x65    2
0x65	0x45
m 0x65	0x20ac
a 0x65	0xe9
a 0x45	0xc9
2 0         0x72    2
0x72	0x52
m 0x72	0xb6
m 0x52	0xae
a 0x72	0x155
a 0x52	0x154
2 0         0x74    2
0x74	0x54
m 0x74	0x167
m 0x54	0x166
2 0         0x7a    2
0x7a	0x5a
m 0x7a	0x2190
m 0x5a	0xa5
a 0x7a	0x17a
a 0x5a	0x179
2 0         0x75    2
0x75	0x55
m 0x75	0x2193
m 0x55	0x2191
a 0x75	0xfa
a 0x55	0xda
2 0         0x69    2
0x69	0x49
m 0x69	0x2192
m 0x49	0x131
a 0x69	0xed
a 0x49	0xcd
2 0         0x6f    2
0x6f	0x4f
m 0x6f	0xf8
m 0x4f	0xd8
a 0x6f	0xf3
a 0x4f	0xd3
2 0         0x70    2
0x70	0x50
m 0x70	0xfe
m 0x50	0xde
2 0         0xfa    2
0xfa	0x2f
m 0xfa	0x5b
m 0x2f	0xf7
2 0         0x29    2
0x29	0x28
m 0x29	0x5d
m 0x28	0xd7
2 0         0xa8    2
0xa8	0x27
m 0xa8	0x5c
m 0x27	0x7c

3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x61    2
0x61	0x41
m 0x61	0x7e
m 0x41	0xc6
a 0x61	0xe1
a 0x41	0xc1
3 0         0x73    2
0x73	0x53
m 0x73	0x111
m 0x53	0xa7
a 0x73	0x15b
a 0x53	0x15a
3 0         0x64    2
0x64	0x44
m 0x64	0x110
m 0x44	0xd0
3 0         0x66    2
0x66	0x46
m 0x66	0x5b
m 0x46	0xaa
3 0         0x67    2
0x67	0x47
m 0x67	0x5d
m 0x47	0x14a
3 0         0x68    2
0x68	0x48
m 0x68	0x60
m 0x48	0x126
3 0         0x6a    2
0x6a	0x4a
m 0x6a	0x27
3 0         0x6b    2
0x6b	0x4b
m 0x6b	0x142
m 0x4b	0x26
3 0         0x6c    2
0x6c	0x4c
m 0x6c	0x141
m 0x4c	0x141
a 0x6c	0x13a
a 0x4c	0x139
3 0         0x16f    2
0x16f	0x22
m 0x16f	0x24
m 0x22	0x2dd
3 0         0xa7    2
0xa7	0x21
m 0xa7	0x27
m 0x21	0xdf
3 0x1004    0       4 # enter
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0         0x79    2
0x79	0x59
m 0x79	0xb0
m 0x59	0x3c
a 0x79	0xfd
a 0x59	0xdd
4 0         0x78    2
0x78	0x58
m 0x78	0x23
m 0x58	0x3e
4 0         0x63    2
0x63	0x43
m 0x63	0x26
m 0x43	0xa9
a 0x63	0x107
a 0x43	0x106
4 0         0x76    2
0x76	0x56
m 0x76	0x40
m 0x56	0x60
4 0         0x62    2
0x62	0x42
m 0x62	0x7b
m 0x42	0x27
4 0         0x6e    2
0x6e	0x4e
m 0x6e	0x7d
a 0x6e	0x144
a 0x4e	0x143
4 0         0x6d    2
0x6d	0x4d
m 0x6d	0x5e
m 0x4d	0xba
4 0         0x2c    2
0x2c	0x3f
m 0x2c	0x3c
m 0x3f	0xd7
4 0         0x2e    2
0x2e	0x3a
m 0x2e	0x3e
m 0x3a	0xf7
4 0         0x2d    2
0x2d	0x5f
m 0x2d	0x2a
m 0x5f	0x2d9
4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       4
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    14
5 0x1022    0       4   # 5,4 altgr
   "24 7 2 1"   # XXX Should have default in code
   "   c None"
   ".  c #000000"
   "                        "
   "  .  .   ...    ..  ..  "
   " . . .    .    .    . . "
   " ... .    .    . .. ..  "
   " . . .    .    .  . . . "
   " . . ...  .     ..  .  ."
   "                        "
5 0x1021    0       5
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "
#EOF
