#
# comment lines must start with a '#' (for now...)
#
# Format:
# row qcode unicode length
# unicode-unshifted unicode-shifted
# meta unicode unicode-meta'ed
# meta uni...
# (blank line)
# row qcode...
# etc.
#
#
# please don't write anything between a key definition and its xpm (except for spaces)
#

title = Danish

#
# ROW 1
#

1 0x1000    0       2   # esc
	"9 9 2 1"
    	". c None"
	"a c #000000"
    	"........."
    	"........."
    	".aa.aa.aa"
    	".a..a..a."
    	".aa.aa.a."
    	".a...a.a."
    	".aa.aa.aa"
    	"........."
    	"........."

1 0         0xbd    2   # ½
0xbd  0xa7
m 0xbd  0xbe
m 0xa7  0xb6

1 0         0x31    2   # 1
0x31  0x21
m 0x31  0xa1
m 0x21  0xb9

1 0         0x32    2   # 2
0x32  0x22
m 0x32  0x40
m 0x22  0xb2

1 0         0x33    2   # 3
0x33  0x23
m 0x33  0xa3
m 0x23  0xb3

1 0         0x34    2   # 4
0x34  0xa4
m 0x34  0x24
m 0xa4  0xbc

1 0         0x35    2   # 5
0x35  0x25
m 0x35  0xbd
m 0x25  0xa2

1 0         0x36    2   # 6
0x36  0x26
m 0x36  0xa5

1 0         0x37    2   # 7
0x37  0x2f
m 0x37  0x7b
m 0x2f  0xf7

1 0         0x38    2   # 8
0x38  0x28
m 0x38  0x5b
m 0x28  0xab

1 0         0x39    2   # 9
0x39  0x29
m 0x39  0x5d
m 0x29  0xbb

1 0         0x30    2   # 0
0x30  0x3d
m 0x30  0x7d
m 0x3d  0xb0

1 0         0x2b    2   # +
0x2b  0x3f
m 0x2b  0xb1
m 0x3f  0xbf

1 0         0xb4    2
0xb4  0x60
m 0xb4  0x7c
m 0x60  0xa6

1 0x1003    0       2   # backspace
	"9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."

#
# ROW 2
#

2 0x1001    0x9     3   # tab
        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."

2 0         0x71    2   # q
0x71  0x51
m 0x71 0x40

2 0         0x77    2   # w
0x77  0x57

2 0         0x65    2   # e
0x65  0x45
m 0x65  0x20ac
m 0x45  0xa2

2 0         0x72    2   # r
0x72  0x52
m 0x72  0xae
m 0x52  0xae

2 0         0x74    2   # t
0x74  0x54
m 0x74  0xfe
m 0x54  0xde

2 0         0x79    2   # y
0x79  0x59
m 0x59  0xa5

2 0         0x75    2   # u
0x75  0x55

2 0         0x69    2   # i
0x69  0x49

2 0         0x6f    2   # o
0x6f  0x4f
c 0x6f  0xf4
d 0x6f  0xf6

2 0         0x70    2   # p
0x70  0x50
m 0x70 0xfe
m 0x50 0xde

2 0         0xe5    2   # å
0xe5  0xc5

2 0         0xa8    2   # "
0xa8  0x5e              # ^
m 0xa8  0x7e            # ~

2 0         0x27    2   # '
0x27  0x2a              # *

#
# ROW 3
#

3 0x1024    0       4   # caps
        "17 7 2 1"
        ". c None"
        "a c #000000"
        "................."
        "..aa..a..aa...aa."
        ".a...a.a.a.a.a..."
        ".a...aaa.aa...a.."
        ".a...a.a.a.....a."
        "..aa.a.a.a...aa.."
        "................."

3 0         0x61    2   # a
0x61  0x41
m 0x61  0xaa
m 0x41  0xba

3 0         0x73    2   # s
0x73  0x53
m 0x73  0xdf
m 0x53  0xa7

3 0         0x64    2   # d
0x64  0x44
m 0x64  0xf0
m 0x44  0xd0

3 0         0x66    2   # f
0x66  0x46
m 0x46  0xaa

3 0         0x67    2   # g
0x67  0x47

3 0         0x68    2   # h
0x68  0x48

3 0         0x6a    2   # j
0x6a  0x4a

3 0         0x6b    2   # k
0x6b  0x4b
m 0x4b  0x26

3 0         0x6c    2   # l
0x6c  0x4c

3 0         0xe6    2   # æ
0xe6  0xc6

3 0         0xf8    2   # ø
0xf8  0xd8
m 0xd8  0xd7

3 0x1004    0       4   # enter
        "16 8 2 1"
        ". c None"
        "a c #000000"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

#
# ROW 4
#

4 0x1020    0       3   # shift
        "21 7 2 1"
        ". c None"
        "a c #000000"
        "....................."
        "..aa.a.a.aaa.aaa.aaa."
        ".a...a.a..a..a....a.."
        "..a..aaa..a..aa...a.."
        "...a.a.a..a..a....a.."
        ".aa..a.a.aaa.a....a.."
        "....................."

4 0         0x3c    2   # <
0x3c  0x3e
m 0x3c  0x5c
m 0x3e  0xac

4 0         0x7a    2   # z
0x7a  0x5a
m 0x7a  0xab
m 0x5a  0x3c

4 0         0x78    2   # x
0x78  0x58
m 0x78  0xbb
m 0x58  0x3e

4 0         0x63    2   # c
0x63  0x43
m 0x63  0xa9
m 0x43  0xa9

4 0         0x76    2   # v
0x76  0x56

4 0         0x62    2   # b
0x62  0x42

4 0         0x6e    2   # n
0x6e  0x4e

4 0         0x6d    2   # m
0x6d  0x4d
m 0x6d  0xb5
m 0x4d  0xba

4 0         0x2c    2   # ,
0x2c  0x3b

4 0         0x2e    2   # .
0x2e  0x3a

4 0         0x2d    2   # -
0x2d  0x5f
m 0x2d  0xad
m 0x5f  0xaf

4 0x1020    0       5   # shift
        "21 7 2 1"
        ". c None"
        "a c #000000"
        "....................."
        "..aa.a.a.aaa.aaa.aaa."
        ".a...a.a..a..a....a.."
        "..a..aaa..a..aa...a.."
        "...a.a.a..a..a....a.."
        ".aa..a.a.aaa.a....a.."
        "....................."

#
# ROW 5
#

5 0x1021    0       3   # ctrl
        "17 7 2 1"
        ". c None"
        "a c #000000"
        "................."
        "..aa.aaa.aa..a..."
        ".a....a..a.a.a..."
        ".a....a..aa..a..."
        ".a....a..a.a.a..."
        "..aa..a..a.a.aaa."
        "................."

5 0x1023    0       3   # alt
        "13 7 2 1"
        ". c None"
        "a c #000000"
        "............."
        "..a..a...aaa."
        ".a.a.a....a.."
        ".aaa.a....a.."
        ".a.a.a....a.."
        ".a.a.aaa..a.."
        "............."

5 0         0x20    16  # space

5 0x1022    0       3   # alt-gr
        "23 7 2 1"
        ". c None"
        "a c #000000"
        "......................."
        "..a..a...aaa...aa..aa.."
        ".a.a.a....a...a....a.a."
        ".aaa.a....a...a.aa.aa.."
        ".a.a.a....a...a..a.a.a."
        ".a.a.aaa..a....aaa.a.a."
        "......................."

5 0x1021    0       3   # ctrl
        "17 7 2 1"
        ". c None"
        "a c #000000"
        "................."
        "..aa.aaa.aa..a..."
        ".a....a..a.a.a..."
        ".a....a..aa..a..."
        ".a....a..a.a.a..."
        "..aa..a..a.a.aaa."
        "................."

5 0x1030    0       2   # config (original code is F1, but i'll use it for turning on/off the config dialog)
        "13 7 2 1"
        ". c None"
        "a c #000000"
        "............."
        "......a......"
        ".....aaa....."
        "....aaaaa...."
        "......a......"
        "......a......"
        "............."