# comment lines must start with a '#' (for now...)
# order is: row qcode unicode length blah
#
# please don't write anything between a key definition and its xpm (except for spaces)
title = Danish

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0         0xbd    2  # but not after xpm images... k?
1 0         0x31    2
1 0         0x32    2
1 0         0x33    2
1 0         0x34    2
1 0         0x35    2
1 0         0x36    2
1 0         0x37    2
1 0         0x38    2
1 0         0x39    2
1 0         0x30    2
1 0         0x2b    2
1 0         0xb4    2
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0x1001    0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."
2 0         0x71    2
2 0         0x77    2
2 0         0x65    2
2 0         0x72    2
2 0         0x74    2
2 0         0x79    2
2 0         0x75    2
2 0         0x69    2
2 0         0x6f    2
2 0         0x70    2
2 0         0xe5    2
2 0         0xa8    2
2 0         0x27    2

3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x61    2
3 0         0x73    2
3 0         0x64    2
3 0         0x66    2
3 0         0x67    2
3 0         0x68    2
3 0         0x6a    2
3 0         0x6b    2
3 0         0x6c    2
3 0         0xe6    2
3 0         0xf8    2
3 0x1004    0       4 # enter
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       3
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0         0x3c    2
4 0         0x7a    2
4 0         0x78    2
4 0         0x63    2
4 0         0x76    2
4 0         0x62    2
4 0         0x6e    2
4 0         0x6d    2
4 0         0x2c    2
4 0         0x2e    2
4 0         0x2d    2
4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    16
5 0x1022    0       3 # alt-gr
        "23 7 2 1"
        "   c None"
        ".  c #000000"
        "                       "
        "  .  .   ...   ..  ..  "
        " . . .    .   .    . . "
        " ... .    .   . .. ..  "
        " . . .    .   .  . . . "
        " . . ...  .    ... . . "
        "                       "
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "
# shift table
# add xpm support for these keys too?

# unshifed shifted

# 1. row
0xbd  0xa7
0x31  0x21
0x32  0x22
0x33  0x23
0x34  0xa4
0x35  0x25
0x36  0x26
0x37  0x2f
0x38  0x28
0x39  0x29
0x30  0x3d
0x2b  0x3f
0xb4  0x60

# 2. row
0x71  0x51
0x77  0x57
0x65  0x45
0x72  0x52
0x74  0x54
0x79  0x59
0x75  0x55
0x69  0x49
0x6f  0x4f
0x70  0x50
0xe5  0xc5
0xa8  0x5e
0x27  0x2a

# 3. row
0x61  0x41
0x73  0x53
0x64  0x44
0x66  0x46
0x67  0x47
0x68  0x48
0x6a  0x4a
0x6b  0x4b
0x6c  0x4c
0xe6  0xc6
0xf8  0xd8

# 4. row
0x3c  0x3e
0x7a  0x5a
0x78  0x58
0x63  0x43
0x76  0x56
0x62  0x42
0x6e  0x4e
0x6d  0x4d
0x2c  0x3b
0x2e  0x3a
0x2d  0x5f


# meta keys (alt-gr)

# 1. row
m 0xbd  0xbe
m 0x31  0xa1
m 0x32  0x40
m 0x33  0xa3
m 0x34  0x24
m 0x35  0xbd
m 0x36  0xa5
m 0x37  0x7b
m 0x38  0x5b
m 0x39  0x5d
m 0x30  0x7d
m 0x2b  0xb1
m 0xb4  0x7c

# 2. row
#m 0x71  0x40
#m 0x77  0x142
m 0x65  0x20ac
m 0x72  0xae
#m 0x74  0x
#m 0x79  0x
#m 0x75  0x
#m 0x69  0x
#m 0x6f  0x
#m 0x70  0x
#m 0xe5  0x
m 0xa8  0x7e
#m 0x27  0x

# 3. row
#m 0x61  0x41
#m 0x73  0x53
#m 0x64  0x44
#m 0x66  0x46
#m 0x67  0x47
#m 0x68  0x48
#m 0x6a  0x4a
#m 0x6b  0x4b
#m 0x6c  0x4c
#m 0xe6  0xc6
#m 0xf8  0xd8

# 4. row
m 0x3c  0x5c
#m 0x7a  0x5a
#m 0x78  0x58
#m 0x63  0x43
#m 0x76  0x56
#m 0x62  0x42
#m 0x6e  0x4e
#m 0x6d  0x4d
#m 0x2c  0x3b
#m 0x2e  0x3a
#m 0x2d  0x5f
