# comment lines must start with a '#' (for now...)
# order is: row qcode unicode length blah
#
# please don't write anything between a key definition and it's xpm (excpet for spaces)
title = German

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0         0x60    2  # but not after xpm images... k?
0x60        0x7e       # shifted
1 0         0x31    2
0x31        0x21       # shifted
1 0         0x32    2
0x32        0x22       # shi....
1 0         0x33    2
0x33        0xa7 
1 0         0x34    2
0x34        0x24  
1 0         0x35    2
0x35        0x25  
1 0         0x36    2
0x36        0x26  
1 0         0x37    2
0x37        0x2f  
1 0         0x38    2
0x38        0x28  
1 0         0x39    2
0x39        0x29  
1 0         0x30    2
0x30        0x3d  
1 0         0xdf    2
0xdf        0x3f  
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0         0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."

2 0         0x71    2
0x71        0x51      # shift    q => Q
m 0x71      0x40      # meta-alt q => @
2 0         0x77    2
0x77        0x57
2 0         0x65    2
0x65        0x45
2 0         0x72    2
0x72        0x52
2 0         0x74    2
0x74        0x54
2 0         0x7a    2
0x7a        0x5a
2 0         0x75    2
0x75        0x55
2 0         0x69    2
0x69        0x49
2 0         0x6f    2
0x6f        0x4f
2 0         0x70    2
0x70        0x50
2 0         0xfc    2
0xfc        0xdc
2 0         0x2b    2
0x2b        0x2a
2 0         0x23    2
0x23        0x27

3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x61    2
0x61        0x41
3 0         0x73    2
0x73        0x53
3 0         0x64    2
0x64        0x44
3 0         0x66    2
0x66        0x46
3 0         0x67    2
0x67        0x47
3 0         0x68    2
0x68        0x48
3 0         0x6a    2
0x6a        0x4a
3 0         0x6b    2
0x6b        0x4b
3 0         0x6c    2
0x6c        0x4c
3 0         0xf6    2
0xf6        0xd6
3 0         0xe4    2
0xe4        0xc4
3 0x1004    0       4 # enter
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0         0x3c    2
0x3c        0x3e
4 0         0x79    2
0x79        0x59
4 0         0x78    2
0x78        0x58
4 0         0x63    2
0x63        0x43
4 0         0x76    2
0x76        0x56
4 0         0x62    2
0x62        0x42
4 0         0x6e    2
0x6e        0x4e
4 0         0x6d    2
0x6d        0x4d
4 0         0x2c    2
0x2c        0x3b
4 0         0x2e    2
0x2e        0x3a
4 0         0x2d    2
0x2d        0x5f
4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    16
5 0x1022    0       3  # meta alt key
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "
