# comment lines must start with a '#' (for now...)
# order is: row qcode unicode length blah
#
# please don't write anything between a key definition and it's xpm (excpet for spaces)
title = English Short

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."
1 0         0x71    2
1 0         0x77    2
1 0         0x65    2
1 0         0x72    2
1 0         0x74    2
1 0         0x79    2
1 0         0x75    2
1 0         0x69    2
1 0         0x6f    2
1 0         0x70    2
1 0         0x5b    2
1 0         0x5d    2
1 0         0x5c    2

1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."

2 0x1001    0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."

2 0         0x61    2
2 0         0x73    2
2 0         0x64    2
2 0         0x66    2
2 0         0x67    2
2 0         0x68    2
2 0         0x6a    2
2 0         0x6b    2
2 0         0x6c    2
2 0         0x3b    2
2 0         0x27    2
2 0x1004    0       3 # enter
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

2 0x1030    0       2 # open config dialog

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "....a...."
        "...aaa..."
        "..aaaaa.."
        "....a...."
        "....a...."
        "....a...."
        "........."


3 0x1020    0       4
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

3 0         0x7a    2
3 0         0x78    2
3 0         0x63    2
3 0         0x76    2
3 0         0x20    4
3 0         0x62    2
3 0         0x6e    2
3 0         0x6d    2
3 0         0x2c    2
3 0         0x2e    2
3 0         0x2f    2

3 0x1022    0       2  # meta alt key
        "15 7 2 1"
        "   c None"
        ".  c #000000"
        "      ..       "
        "  .. .  .  ..  "
        " . . .  . .  . "
        "   .   .    .  "
        "   .  .      . "
        " .... ... .  . "
        "           ..  "


# shift table
# add xpm support for these keys too?

# qwerty shift
0x71  0x51
0x77  0x57
0x65  0x45
0x72  0x52
0x74  0x54
0x79  0x59
0x75  0x55
0x69  0x49
0x6f  0x4f
0x70  0x50
0x5b  0x7b
0x5d  0x7d
0x5c  0x7c

# qwerty to numbers
m 0x71  0x60
m 0x77  0x31
m 0x65  0x32
m 0x72  0x33
m 0x74  0x34
m 0x79  0x35
m 0x75  0x36
m 0x69  0x37
m 0x6f  0x38
m 0x70  0x39
m 0x5b  0x30
m 0x5d  0x2d
m 0x5c  0x3d

# qwerty to numbers shifted
m 0x51  0x7e
m 0x57  0x21  
m 0x45  0x40  
m 0x52  0x23  
m 0x54  0x24  
m 0x59  0x25  
m 0x55  0x5e  
m 0x49  0x26  
m 0x4f  0x2a  
m 0x50  0x28  
m 0x7b  0x29  
m 0x7d  0x5f  
m 0x7c  0x2b  

0x61  0x41
0x73  0x53
0x64  0x44
0x66  0x46
0x67  0x47
0x68  0x48
0x6a  0x4a
0x6b  0x4b
0x6c  0x4c
0x3b  0x3a
0x27  0x22

0x7a  0x5a
0x78  0x58
0x63  0x43
0x76  0x56
0x62  0x42
0x6e  0x4e
0x6d  0x4d
0x2c  0x3c
0x2e  0x3e
0x2f  0x3f
      
