# comment lines must start with a '#' (for now...)
# order is: row qcode unicode length blah
#
# please don't write anything between a key definition and it's xpm (excpet for spaces)
title = Spanish

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0         0xba    2  # but not after xpm images... k?
0xba  0xaa

1 0         0x31    2
0x31  0x7c
m 0x31 0xa6

1 0         0x32    2
0x32  0x22
m 0x32 0x40

1 0         0x33    2
0x33  0xb7
m 0x33  0x23

1 0         0x34    2
0x34  0x24
m 0x34  0x7e

1 0         0x35    2
0x35  0x25
m 0x35  0x20ac   # euro

1 0         0x36    2
0x36  0x26
m 0x36  0xac

1 0         0x37    2
0x37  0x2f

1 0         0x38    2
0x38  0x28

1 0         0x39    2
0x39  0x29

1 0         0x30    2
0x30  0x3d

1 0         0x27    2
0x27  0x3f

1 0         0xa1    2
0xa1  0xbf

1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."



2 0         0x9     3 # tab char, but why doesnt this work...?

        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."

2 0         0x71    2
0x71  0x51

2 0         0x77    2
0x77  0x57

2 0         0x65    2  #   e E         
0x65	  0x45
m 0x65  0x20ac
b 0x65  0xe8
a 0x65  0xe9
b 0x45  0xc8
a 0x45  0xc9
d 0x65  0xeb
d 0x45  0xcb
c 0x65  0xea
d 0x45  0xca

2 0         0x72    2
0x72  0x52

2 0         0x74    2
0x74  0x54

2 0         0x79    2
0x79  0x59

2 0         0x75    2  #  u U        
0x75  0x55
a 0x75  0xfa
b 0x75  0xf9
a 0x55  0xda
b 0x55  0xd9
d 0x75  0xfc
d 0x55  0xdc
c 0x75  0xfb
c 0x55  0xdb

2 0         0x69    2 #  i I        
0x69  0x49
a 0x69  0xed
b 0x69  0xec
a 0x49  0xcd
b 0x49  0xcc
d 0x69  0xef
d 0x49  0xcf
c 0x69  0xee
c 0x49  0xce

2 0         0x6f    2 # o O        
0x6f  0x4f
a 0x6f  0xf3
b 0x6f  0xf2
a 0x4f  0xd3
b 0x4f  0xd2
d 0x6f  0xf6
d 0x4f  0xd6
c 0x6f  0xf4
c 0x4f  0xd4

2 0         0x70    2
0x70  0x50

2 0         0x2cb    2   # Acento
0x2cb		  0x5e	    # Circumflejo
m 0x2cb  0x5b

2 0         0x2b    2
0x2b  0x2a
m 0x2b  0x5d

2 0         0xe7    2
m 0xe7  0x7d


3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
	   
3 0         0x61    2 # a A        
0x61  0x41
a 0x61  0xe1
b 0x61  0xe0
a 0x41  0xc1
b 0x41  0xc0
d 0x61  0xe4
d 0x41  0xc4
c 0x61  0xe2
c 0x41  0xc2

3 0         0x73    2
0x73  0x53

3 0         0x64    2
0x64  0x44

3 0         0x66    2
0x66  0x46

3 0         0x67    2
0x67  0x47

3 0         0x68    2
0x68  0x48

3 0         0x6a    2
0x6a  0x4a

3 0         0x6b    2
0x6b  0x4b

3 0         0x6c    2
0x6c  0x4c

3 0         0xf1    2
0xf1  0xd1

3 0         0x2ca    2
0x2ca  0xa8
m 0x2ca  0x7b

3 0x1004    0       4 # enter
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"


	   
4 0x1020    0       3
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

4 0         0x3c    2
0x3c  0x3e

4 0         0x7a    2
0x7a  0x5a

4 0         0x78    2
0x78  0x58

4 0         0x63    2
0x63  0x43

4 0         0x76    2
0x76  0x56

4 0         0x62    2
0x62  0x42

4 0         0x6e    2
0x6e  0x4e

4 0         0x6d    2
0x6d  0x4d

4 0         0x2c    2
0x2c  0x3b

4 0         0x2e    2
0x2e  0x3a

4 0         0x2d    2
0x2d  0x5f

4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    15
5 0x1022    0       4  # meta alt key
         "24 7 2 1"
        "   c None"
        ".  c #000000"
        "                        "
        "  .  .   ...    ..  ..  "
        " . . .    .    .    . . "
        " ... .    .    . .. ..  "
        " . . .    .    .  . . . "
        " . . ...  .     ..  .  ."
        "                        "  
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "
# shift table
# add xpm support for these keys too?
