# Created by Kunszt Arpad (arpad@kunszt.hu)
title = Hungarian
sw = HU

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0	    0x30    2   # 0
1 0         0x31    2   # 1
1 0         0x32    2	# 2
1 0         0x33    2   # 3
1 0         0x34    2   # 4
1 0         0x35    2   # 5
1 0         0x36    2   # 6
1 0         0x37    2   # 7
1 0         0x38    2   # 8
1 0         0x39    2   # 9
1 0	    0xf6    2	# ö
1 0	    0xfc    2	# ü
1 0	    0xf3    2	# ó
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0x1001    0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."
2 0         0x71    2  # q
2 0         0x77    2  # w
2 0         0x65    2  # e
2 0         0x72    2  # r
2 0         0x74    2  # t
2 0         0x7a    2  # z
2 0         0x75    2  # u
2 0         0x69    2  # i
2 0         0x6f    2  # o
2 0         0x70    2  # p
2 0         0x0152  2  # õ
2 0         0xfa    2  # ú
2 0x1004    0 	    3  # ENTER

3 0x1024    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x61    2 # a
3 0         0x73    2 # s
3 0         0x64    2 # d
3 0         0x66    2 # f
3 0         0x67    2 # g
3 0         0x68    2 # h
3 0         0x6a    2 # j
3 0         0x6b    2 # k
3 0         0x6c    2 # l
3 0         0xe9    2 # é
3 0         0xe1    2 # á
3 0	    0x0171  2 # û
3 0x1004    0       2 # ENTER
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       4
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0	    0xed    2 # í
4 0         0x79    2 # y
4 0         0x78    2 # x
4 0         0x63    2 # c
4 0         0x76    2 # v
4 0         0x62    2 # b
4 0         0x6e    2 # n
4 0         0x6d    2 # m
4 0         0x2c    2 # ,
4 0         0x2e    2 # .
4 0         0x2d    2 # -
4 0x1020    0       4
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    16
5 0x1022    0       3 
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .  .   ...  ....   "
        " . . .    .   .      "
        " ... .    .   . .. .."
        " . . .    .   .  . . "
        " . . ...  .   .... . "
        "                     "
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "
# shift table
0x30  0xa7 # 0 -> §
0x31  0x27 # 1 -> '
0x32  0x22 # 2 -> "
0x33  0x2b # 3 -> +
0x34  0x21 # 4 -> !
0x35  0x25 # 5 -> %
0x36  0x2f # 6 -> /
0x37  0x3d # 7 -> =
0x38  0x28 # 8 -> (
0x39  0x29 # 9 -> )
0xf6  0xd6 # ö -> Ö
0xfc  0xdc # ü -> Ü
0xf3  0xd3 # ó -> Ó

0x71  0x51 # q -> Q
0x77  0x57 # w -> W
0x65  0x45 # e -> E
0x72  0x52 # r -> R
0x74  0x54 # t -> T
0x7a  0x5a # z -> Z
0x75  0x55 # u -> U
0x69  0x49 # i -> I
0x6f  0x4f # o -> O
0x70  0x50 # p -> P
0x0151 0x0150 # õ -> Õ
0xfa  0xda # ú -> Ú

0x61  0x41 # a -> A
0x73  0x53 # s -> S
0x64  0x44 # d -> D
0x66  0x46 # f -> F
0x67  0x47 # g -> G
0x68  0x48 # h -> H
0x6a  0x4a # j -> J
0x6b  0x4b # k -> K
0x6c  0x4c # l -> L
0xe1  0xc1 # é -> É
0xe9  0xc9 # á -> Á
0x0171 0x0170 # û -> Û

0xed  0xcd # í -> Í
0x79  0x59 # y -> Y
0x78  0x58 # x -> X
0x63  0x43 # c -> C
0x76  0x56 # v -> V
0x62  0x42 # b -> B
0x6e  0x4e # n -> N
0x6d  0x4d # m -> M
0x2c  0x3f # , -> ?
0x2e  0x3a # . -> :
0x2d  0x5f # - -> _
     
# AltGr table
# Some rarely used chars are missing :-(
m 0x31 0x7e # 1 -> ~
#m 0x32 # 2 -> 2
m 0x33 0x5e # 3 -> ^
#m 0x34 # 4 -> 4
#m 0x35 # 5 -> 5
#m 0x36 # 6 -> 6
m 0x37 0x60 # 7 -> `
#m 0x38 # 8 -> 8
#m 0x39 # 9 -> 9
m  0xf6 0x22 # ö -> "
#m ü -> 
#m 0xf3 # ó -> 

m 0x71  0x5c # q -> \
m 0x77  0xa6 # w -> |
#m 0x75  0x55 # u -> Euro symbol but where the hell is it?
m 0x0151 0xf7 # õ -> ÷
m 0xfa  0xd7 # ú -> ×

m 0x73  0x0111 # s -> 
m 0x64  0xd0 # d -> 
m 0x66  0x5b # f -> [
m 0x67  0x5d # g -> ]
m 0x6b  0x0142 # k -> 
m 0x6c  0x0141 # l -> 
m 0xe1  0xc1 # é -> $
m 0xe9  0x03b2 # á -> ß
#m 0x0171 0x0170 # û -> ¤

m 0xed  0x3c # í -> <
m 0x79  0x3e # y -> >
m 0x78  0x23 # x -> #
m 0x63  0x26 # c -> &
m 0x76  0x40 # v -> @
m 0x62  0x7b # b -> {
m 0x6e  0x7d # n -> }
m 0x2c  0x3b # , -> ;
m 0x2d  0x2a # - -> *

