# comment lines must start with a '#' (for now...)
# order is: row qcode unicode length blah
#
# please don't write anything between a key definition and its xpm (except for spaces)
title = Macedonian

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0         0x60    2  # but not after xpm images... k?
0x60        0x7e       # shifted
1 0         0x31    2
0x31        0x21       # shifted
1 0         0x32    2
0x32        0x201e       # shi....
#m 0x32     0x201e       # the ^2
1 0         0x33    2
0x33        0x201c 
#m 0x33     0xb3       # the ^3
1 0         0x34    2
0x34        0x24  
1 0         0x35    2
0x35        0x25  
1 0         0x36    2
0x36        0x5e  
1 0         0x37    2
0x37        0x26   
1 0         0x38    2
0x38        0x2a  
1 0         0x39    2
0x39        0x28  
1 0         0x30    2
0x30        0x29  
1 0         0x2d    2
0x2d        0x5f  
1 0 	    0x3d    2
0x3d	    0x2b
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0         0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."

2 0         0x459    2
0x459       0x409      # shift    q => Q
2 0         0x45a    2
0x45a       0x40a
2 0         0x435    2
0x435       0x415
2 0         0x440    2
0x440       0x420
2 0         0x442    2
0x442       0x422
2 0         0x455    2
0x455       0x405
2 0         0x443    2
0x443       0x423
2 0         0x438    2
0x438       0x418
2 0         0x43e    2
0x43e       0x41e
2 0         0x43f    2
0x43f       0x41f
2 0         0x448
0x448	    0x428
2 0         0x453    2
0x453       0x403
2 0         0x436    2
0x436       0x416

3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x430    2
0x430       0x410
3 0         0x441    2
0x441       0x421
3 0         0x434    2
0x434       0x414
3 0         0x444    2
0x444       0xc424
3 0         0x433    2
0x433       0x413
3 0         0x445    2
0x445       0x425
3 0         0x458    2
0x458       0x408
3 0         0x43a    2
0x43a       0x41a
3 0         0x43b    2
0x43b       0x41b
3 0         0x447    2
0x447       0x427
3 0         0x45c    2
0x45c        0x40c
3 0x1004    0       4 # enter
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0         0x437    2
0x437       0x427
4 0         0x45f    2
0x45f       0x40f
4 0         0x446    2
0x446       0x426
4 0         0x432    2
0x432       0x422
4 0         0x431    2
0x431       0x421
4 0         0x43d    2
0x43d       0x42d
4 0         0x43c    2
0x43c       0x42c
4 0         0x2c    2
0x2c        0x3b
4 0         0x2e    2
0x2e        0x3a
4 0         0x2f    2
0x2f        0x3f
4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    16
5 0x1022    0       3  # meta alt key
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "   .     .   "
        "   ... ...   "
        "   .  .  .   "
        "   .     .   "
        "   .     .   "
        "             "
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "
