# Created by Anton Kachalov (mouse@altlinux.ru)
title = Russian
sw = RU

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0	    0x0451  2   # £
1 0         0x31    2   # 1
1 0         0x32    2	# 2
1 0         0x33    2   # 3
1 0         0x34    2   # 4
1 0         0x35    2   # 5
1 0         0x36    2   # 6
1 0         0x37    2   # 7
1 0         0x38    2   # 8
1 0         0x39    2   # 9
1 0	    0x30    2	# 0
1 0	    0x2d    2	# -
1 0	    0x3d    2	# =
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0x1001    0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."
2 0         0x0439    2  # Ê
2 0         0x0446    2  # Ã
2 0         0x0443    2  # Õ
2 0         0x043a    2  # Ë
2 0         0x0435    2  # Å
2 0         0x043d    2  # Î
2 0         0x0433    2  # Ç
2 0         0x0448    2  # Û
2 0         0x0449    2  # Ý
2 0         0x0437    2  # Ú
2 0         0x0445    2  # È
2 0         0x044a    2  # ß
2 0         0x2f      4  # /

3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x0444    2 # Æ
3 0         0x044b    2 # Ù
3 0         0x0432    2 # ×
3 0         0x0430    2 # Á
3 0         0x043f    2 # Ð
3 0         0x0440    2 # Ò
3 0         0x043e    2 # Ï
3 0         0x043b    2 # Ì
3 0         0x0434    2 # Ä
3 0         0x0436    2 # Ö
3 0         0x044d    2 # Ü
3 0x1004    0         5 # ENTER
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0         0x044f    2 # Ñ
4 0         0x0447    2 # Þ
4 0         0x0441    2 # Ó
4 0         0x043c    2 # Í
4 0         0x0438    2 # É
4 0         0x0442    2 # Ô
4 0         0x044c    2 # Ø
4 0         0x0431    2 # Â
4 0         0x044e    2 # À
4 0         0x2e      2 # .
4 0x1020    0         5 # SHIFT
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    16
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "

# shift table
0x0451  0x0401 # £ -> ³
0x31  0x21 # 1 -> !
0x32  0x22 # 2 -> "
0x33  0x4e # 3 -> N
0x34  0x3b # 4 -> ;
0x35  0x25 # 5 -> %
0x36  0x3a # 6 -> :
0x37  0x3f # 7 -> ?
0x38  0x2a # 8 -> *
0x39  0x28 # 9 -> (
0x30  0x29 # 0 -> )
0x2d  0x5f # - -> _
0x3d  0x2b # = -> +

0x0439  0x0419  # Ê -> ê
0x0446  0x0426  # Ã -> ã
0x0443  0x0423  # Õ -> õ
0x043a  0x041a  # Ë -> ë
0x0435  0x0415  # Å -> å
0x043d  0x041d  # Î -> î
0x0433  0x0413  # Ç -> ç
0x0448  0x0428  # Û -> û
0x0449  0x0429  # Ý -> ý
0x0437  0x0417  # Ú -> ú
0x0445  0x0425  # È -> è
0x044a  0x042a  # ß -> ÿ

0x0444  0x0424 # Æ -> æ
0x044b  0x042b # Ù -> ù
0x0432  0x0412 # × -> ÷
0x0430  0x0410 # Á -> á
0x043f  0x041f # Ð -> ð
0x0440  0x0420 # Ò -> ò
0x043e  0x041e # Ï -> ï
0x043b  0x041b # Ì -> ì
0x0434  0x0414 # Ä -> ä
0x0436  0x0416 # Ö -> ö
0x044d  0x042d # Ü -> ü

0x044f  0x042f # Ñ -> ñ
0x0447  0x0427 # Þ -> þ
0x0441  0x0421 # Ó -> ó
0x043c  0x041c # Í -> í
0x0438  0x0418 # É -> é
0x0442  0x0422 # Ô -> ô
0x044c  0x042c # Ø -> ø
0x0431  0x0411 # Â -> â
0x044e  0x042e # À -> à
0x2f    0x7c   # / -> |
0x2e    0x2c   # . -> ,
