# Created by Anton Kachalov (mouse@altlinux.ru)
title = Russian
sw = RU

1 0x1000    0       2 # and you can write whatever you want after the last element


    "9 9 2 1"
    ". c None"
    "a c #000000"
    "........."
    "........."
    ".aa.aa.aa"
    ".a..a..a."
    ".aa.aa.a."
    ".a...a.a."
    ".aa.aa.aa"
    "........."
    "........."

1 0	    0x0451  2   # ё
1 0         0x31    2   # 1
1 0         0x32    2	# 2
1 0         0x33    2   # 3
1 0         0x34    2   # 4
1 0         0x35    2   # 5
1 0         0x36    2   # 6
1 0         0x37    2   # 7
1 0         0x38    2   # 8
1 0         0x39    2   # 9
1 0	    0x30    2	# 0
1 0	    0x2d    2	# -
1 0	    0x3d    2	# =
1 0x1003    0       2

        "9 9 2 1"
        ". c None"
        "a c #000000"
        "........."
        "........."
        "...a....."
        "..aa....."
        ".aaaaaaaa"
        "..aa....."
        "...a....."
        "........."
        "........."


2 0x1001    0x9     3 # tab char, but why doesnt this work...?


        "11 9 2 1"
        ". c None"
        "a c #000000"
        "..........."
        "..........."
        ".....a..a.."
        ".....aa.a.."
        ".aaaaaaaa.."
        ".....aa.a.."
        ".....a..a.."
        "..........."
        "..........."
2 0         0x0439    2  # й
2 0         0x0446    2  # ц
2 0         0x0443    2  # у
2 0         0x043a    2  # к
2 0         0x0435    2  # е
2 0         0x043d    2  # н
2 0         0x0433    2  # г
2 0         0x0448    2  # ш
2 0         0x0449    2  # щ
2 0         0x0437    2  # з
2 0         0x0445    2  # х
2 0         0x044a    2  # ъ
2 0         0x2f      4  # /

3 0x1024    0       4
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  ..  .  ..   .. "
        " .   . . . . .   "
        " .   ... ..   .  "
        " .   . . .     . "
        "  .. . . .   ..  "
        "                 "
3 0         0x0444    2 # ф
3 0         0x044b    2 # ы
3 0         0x0432    2 # в
3 0         0x0430    2 # а
3 0         0x043f    2 # п
3 0         0x0440    2 # р
3 0         0x043e    2 # о
3 0         0x043b    2 # л
3 0         0x0434    2 # д
3 0         0x0436    2 # ж
3 0         0x044d    2 # э
3 0x1004    0         5 # ENTER
        "16 9 2 1"
        ". c None"
        "a c #000000"
        "................"
        "................"
        "...........a...."
        "....aa.....a...."
        "...aa......a...."
        "..aaaaaaaaaa...."
        "...aa..........."
        "....aa.........."
        "................"

4 0x1020    0       5
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "
4 0         0x044f    2 # я
4 0         0x0447    2 # ч
4 0         0x0441    2 # с
4 0         0x043c    2 # м
4 0         0x0438    2 # и
4 0         0x0442    2 # т
4 0         0x044c    2 # ь
4 0         0x0431    2 # б
4 0         0x044e    2 # ю
4 0         0x2e      2 # .
4 0x1020    0         5 # SHIFT
        "21 7 2 1"
        "   c None"
        ".  c #000000"
        "                     "
        "  .. . . ... ... ... "
        " .   . .  .  .    .  "
        "  .  ...  .  ..   .  "
        "   . . .  .  .    .  "
        " ..  . . ... .    .  "
        "                     "

5 0x1021    0       3
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0         0x20    16
5 0x1023    0       3
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "  .  .   ... "
        " . . .    .  "
        " ... .    .  "
        " . . .    .  "
        " . . ...  .  "
        "             "
5 0x1021    0       3 
        "17 7 2 1"
        "   c None"
        ".  c #000000"
        "                 "
        "  .. ... ..  .   "
        " .    .  . . .   "
        " .    .  ..  .   "
        " .    .  . . .   "
        "  ..  .  . . ... "
        "                 "
5 0x1030    0       2 #original code is F1, but i'll use it for turning on/off the config dialog
        "13 7 2 1"
        "   c None"
        ".  c #000000"
        "             "
        "      .      "
        "     ...     "
        "    .....    "
        "      .      "
        "      .      "
        "             "

# shift table
0x0451  0x0401 # ё -> Ё
0x31  0x21 # 1 -> !
0x32  0x22 # 2 -> "
0x33  0x4e # 3 -> N
0x34  0x3b # 4 -> ;
0x35  0x25 # 5 -> %
0x36  0x3a # 6 -> :
0x37  0x3f # 7 -> ?
0x38  0x2a # 8 -> *
0x39  0x28 # 9 -> (
0x30  0x29 # 0 -> )
0x2d  0x5f # - -> _
0x3d  0x2b # = -> +

0x0439  0x0419  # й -> Й
0x0446  0x0426  # ц -> Ц
0x0443  0x0423  # у -> У
0x043a  0x041a  # к -> К
0x0435  0x0415  # е -> Е
0x043d  0x041d  # н -> Н
0x0433  0x0413  # г -> Г
0x0448  0x0428  # ш -> Ш
0x0449  0x0429  # щ -> Щ
0x0437  0x0417  # з -> З
0x0445  0x0425  # х -> Х
0x044a  0x042a  # ъ -> Ъ

0x0444  0x0424 # ф -> Ф
0x044b  0x042b # ы -> Ы
0x0432  0x0412 # в -> В
0x0430  0x0410 # а -> А
0x043f  0x041f # п -> П
0x0440  0x0420 # р -> Р
0x043e  0x041e # о -> О
0x043b  0x041b # л -> Л
0x0434  0x0414 # д -> Д
0x0436  0x0416 # ж -> Ж
0x044d  0x042d # э -> Э

0x044f  0x042f # я -> Я
0x0447  0x0427 # ч -> Ч
0x0441  0x0421 # с -> С
0x043c  0x041c # м -> М
0x0438  0x0418 # и -> И
0x0442  0x0422 # т -> Т
0x044c  0x042c # ь -> Ь
0x0431  0x0411 # б -> Б
0x044e  0x042e # ю -> Ю
0x2f    0x7c   # / -> |
0x2e    0x2c   # . -> ,
