[Desktop Entry]
Comment=An Address Book Program
Exec=addressbook
Icon=AddressBook
Type=Application
Name=Contacts
MimeType=text/x-vCard
Name[pt_BR]=Endereços
Name[no]=Adressebok
Name[de]=Adressbuch
Name[hu]=Címtár
Name[pt]=Endereços
