[Desktop Entry]
Comment=An Address Book Program
Exec=addressbook
Icon=AddressBook
Type=Application
Name=Contacts
MimeType=text/x-vCard
Name[pt_BR]=Contactos
Name[no]=Adressebok
Name[de]=Adressbuch
Name[hu]=Címtár
Name[pt]=Contactos
Name[es]=Contactos
Name[zh_TW]=地址簿
Name[ko]=Á¼ҷÏ
