[Desktop Entry]
Exec=advancedfm
File=advancedfm
Icon=advancedfm/FileBrowser
Type=Application
Name=File Manager
Comment=An advanced file manager program
Name[da]=Filstyring
Comment[da]=Et advanceret filstyringsprogram
Name[de]=Dateimanager
Name[es]=Gestor Ficheros
Comment[es]=Un gestor de ficheros avanzado
Name[fr]=Gestion de fichier
Comment[fr]=Un programme de gestion avancée de fichier
Name[it]=Gestione File
Name[pt]=Ficheiros
Comment[pt]=Gestor de Ficheiros
Name[pt_BR]=Gerenciador Ficheiros
Comment[pt_BR]=Gerenciador de Ficheiros
Name[zh_TW]=進階檔案總管
