[Desktop Entry]
Comment = An advanced file manager program
Exec = advancedfm
File = advancedfm
Icon = FileBrowser
Name = AdvancedFM
Type = Application
