[Desktop Entry]
Comment = An advanced file manager program
Comment[es]=Un gestor de ficheros avanzado
Comment[da]=Et advanceret filstyringsprogram
Exec = advancedfm
File = advancedfm
Icon = advancedfm/FileBrowser
Name = AdvancedFM
Type = Application
Name[pt]=Gestor Ficheiros
Name[es]=Gestor Ficheros
Name[de]=Dateimanager
Name[it]=Gestione File
Name[zh_TW]=進階檔案總管
Name[ko]=발달된 파일 관리자
Name[da]=Filstyring
