[Desktop Entry]
Comment=Drink recipe lookup
Exec=bartender
File=bartender
Icon=bartender/bartender.png
Name=Opie-Bartender
Type=Application
Name[de]=Opie-Bartender
Comment[de]=Drink Rezepte Datenbank
Name[ru]=Бармен
Comment[ru]=Рецепты напитков
