[Desktop Entry]
Comment=Drink recipe lookup
Exec=bartender
File=bartender
Icon=bartender/bartender.png
Name=Opie-Bartender
Type=Application
Name[de]=Opie-Bartender
Comment[de]=Drink Rezepte Datenbank
Name[fr]=Opie-Barman
Comment[fr]=Base de données sur les boissons
Name[ru]=Бармен
Comment[ru]=Рецепты напитков
Name[lv]=Opie-Bārmenis
Comment[lv]=Dzērienu receptes
