[Desktop Entry]
Exec=calculator
Icon=calc/Calculator
Type=Application
Name=Calculator
Comment=A Calculator Program
Name[da]=Lommeregner
Comment[da]=Et lommeregner program
Name[de]=Taschen rechner
Name[es]=Calculadora
Comment[es]=Calculadora científica y conversor de unidades
Name[fr]=Calculatrice
Comment[fr]=Calculatrice scientifique et de conversion d'unité
Name[hu]=Számológép
Name[it]=Calcolatrice
Name[ja]=電卓
Name[ko]=계산기
Name[no]=Kalkulator
Name[pt]=Calculadora
Name[pt_BR]=Calculadora
Name[zh_TW]=計算機
