[Desktop Entry]
Exec=camera
File=camera
Icon=camera/cam
Type=Application
Name=OpieCam
Comment=A Camera Program
Name[de]=Kamera
Comment[de]=Ein Kamera-Programm
Name[fr]=Photo
Comment[fr]=Gestionnaire de photos et images
Name[it]=Telecamera
Comment[it]=Programma per telecamera
Name[pt]=Câmera
Comment[pt]=Uma aplicação de câmera
Name[pt_BR]=Câmera
Comment[pt_BR]=Uma aplicação de câmera
Name[sl]=OpieKamera
Comment[sl]=Program za kamero
Naam[nl]=Camera
Comment[nl]=Een camerabesturingsprogramma
Name[ru]=Камера
Comment[ru]=Программа для управления (фото)камерой
Name[lv]=OpieCam
Comment[lv]=Opie Kameras Programma

