[Desktop Entry]
Exec=opiecam
File=opiecam
Icon=camera/cam
Type=Application
Name=OpieCam
Comment=A Camera Program
Name[de]=Kamera
Comment[de]=Ein Kamera-Programm
Name[it]=Telecamera
Comment[it]=Programma per telecamera
Name[pt]=Câmera
Comment[pt]=Uma aplicação de câmera
Name[pt_BR]=Câmera
Comment[pt_BR]=Uma aplicação de câmera
Name[sl]=OpieKamera
Comment[sl]=Program za kamero
