[Desktop Entry]
Exec=checkbook
Icon=checkbook/checkbook
Type=Application
Name=Checkbook
Comment=A Checkbook Program
Name[es]=Chequera
Comment[es]=Programa que gestiona el talonario de cheques
Name[it]=Nota Spese
Comment[it]=Programma di gestione delle spese
Name[pt]=Despesas
Comment[pt]=Gestão de Despesas
Name[pt_BR]=Gestor Cheques
Comment[pt_BR]=Gestão de cheques
Name[zh_TW]=Checkbook
Name[sl]=Čekovna knjižica
Comment[sl]=Čekovna knjižica
