[Desktop Entry]
Comment=A Checkbook Program
Exec=checkbook
Icon=checkbook/checkbook
Type=Application
Name=Checkbook
Name[zh_TW]=Checkbook
Name[ko]=돈정리
Name[it]=Registro
