[Desktop Entry]
Exec=clock
Icon=Clock
Type=Application
Name=Clock
Comment=A Clock Program
Name[da]=Ur
Comment[da]=Et ur, stopur og alarm program
Name[de]=Uhr
Comment[de]=Uhr und Stoppuhr
Name[es]=Reloj
Comment[es]=Reloj, cronómetro y despertador
Name[fr]=Chrono
Comment[fr]=Montre et chronomètre
Name[hu]=Óra
Name[it]=Orologio
Comment[it]=Orologio e cronometro
Name[no]=Klokke
Name[pt]=Relógio
Comment[pt]=Um relógio
Name[pt_BR]=Relógio
Comment[pt_BR]=Um relógio
Name[zh_TW]=時鐘
Name[sl]=Ura
Comment[sl]=Program za uro
Name[nl]=Klok
Comment[nl]=De klok
Name[ru]=Часы
Comment[ru]=Часы, секундомер, будильник