[Desktop Entry]
Exec=clock
Icon=Clock
Type=Application
Name=Clock
Comment=A Clock Program
Name[da]=Ur
Comment[da]=Et ur, stopur og alarm program
Name[de]=Uhr
Name[es]=Reloj
Comment[es]=Reloj, cronómetro y despertador
Name[fr]=Montre
Comment[fr]=Montre et chronomètre
Name[hu]=Óra
Name[it]=Orologio
Name[ja]=時計
Name[ko]=시계
Name[no]=Klokke
Name[pt]=Relógio
Name[pt_BR]=Relgio
Name[zh_TW]=時鐘
