[Desktop Entry]
Comment=A Note Taking Program
Exec=drawpad
Icon=drawpad/DrawPad
Type=Application
Name=DrawPad
Name[de]=Zeichenbrett
Name[pt]=Bloco Rabiscos
Name[es]=Pizarra
