[Desktop Entry]
Comment=A Terminal Window
Exec=embeddedkonsole
Icon=Terminal
Type=Application
Name=Terminal
Name[de]=Kommando zeile
Name[hu]=Terminál
Name[pt]=Terminal
Name[es]=Konsola
Name[zh_TW]=終端機
