[Desktop Entry]
Comment=A Terminal Window
Comment[es]=Una ventana de terminal
Exec=embeddedkonsole
Icon=Terminal
Type=Application
Name=Konsole
Name[de]=Kommando zeile
Name[hu]=Terminál
Name[it]=Terminale
Name[pt]=Terminal
Name[es]=Terminal
Name[zh_TW]=終端機
Name[ko]=콘솔
