[Desktop Entry]
Exec=embeddedkonsole
Icon=konsole/Terminal
Type=Application
Name=Konsole
Comment=A Terminal Window
Name[da]=Terminal
Comment[da]=Et terminalvindue
Name[de]=Kommando zeile
Comment[de]=Kommandozeilenfenster
Name[es]=Terminal
Comment[es]=Una ventana de terminal
Name[fr]=Konsole
Comment[fr]=Terminal de commande
Name[hu]=Terminál
Name[it]=Terminale
Comment[it]=Terminale
Name[pt]=Linha Comando
Comment[pt]=Linha de comando (Konsole)
Name[pt_BR]=Terminal
Comment[pt_BR]=Linha de comando (Konsole)
Name[zh_TW]=終端機
Name[sl]=Konzola
Comment[sl]=Terminalsko okno
Name[nl]=Konsole
Comment[nl]=Een terminal programma
Name[ru]=Консоль
Comment[ru]=Окно эмуляции терминала