[Desktop Entry]
Exec=euroconv
Icon=euroconv/euroconv
Type=Application
Name=Euroconv
Comment=An Euro converter
Name[de]=Euroconv
Name[fr]=Euroconv
Comment[fr]=Un convertisseur Euro
