[Desktop Entry]
Exec=euroconv
Icon=euroconv/euroconv
Type=Application
Name=Euroconv
Comment=An Euro converter
Name[de]=Euroconv
Comment[de]=Ein Euro Konverter
Name[fr]=Euroconv
Comment[fr]=Un convertisseur Euro
Name[it]=Euro Convertitore
Comment[it]=Convertitore per Euro
Name[pt]=Conversor Euro
Comment[pt]=Conversor Euro
Name[pt_BR]=Conversor Euro
Comment[pt_BR]=Conversor Euro
Name[sl]=Eurokonv
Comment[sl]=Euro konverter
Name[nl]=Eurorekenmachine
Comment[nl]=Omrekenprogramma voor Euro's
Name[ru]=ЕвроКонв
Comment[ru]=Калькулятор евро
Name[lv]=Eirokonv
Comment=Eiropas valūtas konvertieris
