[Desktop Entry]
Comment = A File Manager Program
Exec = filebrowser
File = ../apps/Applications/filebrowser
Icon = FileBrowser
Name = File Manager
Name[pt_BR] = Gerenciador de Arquivos
Name[de] = Datei Manager
Name[no] = Filviser
Type = Application
Name[hu]=Intézõ
Name[pt]=Gestor Ficheiros
Name[es]=Gestor Ficheros
Name[zh_TW]=檔案總管
Name[ko]=파일 관리자