[Desktop Entry]
Exec=filebrowser
File=../apps/Applications/filebrowser
Icon=filebrowser/FileBrowser
Type=Application
Name=File Manager
Comment=A File Manager Program
Name[de]=Datei Manager
Name[es]=Gestor Ficheros
Comment[es]=Un programa gestor de ficheros
Name[hu]=Intézõ
Name[it]=Gestione File
Name[ko]=파일 관리자
Name[no]=Filviser
Name[pt]=Gestor Ficheiros
Name[pt_BR]=Gerenciador de Arquivos
Name[zh_TW]=檔案總管
