[Desktop Entry]
Comment=A GSM Phone Utility
Exec=gsmtool
Icon=gsmtool/gsmtool
Type=Application
Name=GSM Tool
Name[pt]=Utilitário GSM
Name[es]=Herramientas GSM
Name[zh_TW]=GSM 工具
Name[ko]=GSM 전화기 유틸
