[Desktop Entry]
Exec=gutenbrowser
Icon=gutenbrowser/Gutenbrowser
Type=Application
Name=Gutenbrowser
MimeType=text/*.gtn;guten/plain
Name[ru]=Guten-браузер
Comment[ru]=Программа для поиска и чтения книг проекта Gutenberg
