[Desktop Entry]
Comment=A HTML Help Browser Program
Exec=helpbrowser
Icon=HelpBrowser
Type=Application
Name=Help Browser
Name[pt_BR] = Navegador de Ajuda
Name[no]=Hjelp
Name[de]=Hilfe
Name[hu]=Segítség
Name[pt]=Ajuda
Name[es]=Ayuda
