[Desktop Entry]
Exec=helpbrowser
Icon=helpbrowser/HelpBrowser
Type=Application
Name=Help Browser
Comment=A HTML Help Browser Program
Name[de]=Hilfe
Name[es]=Ayuda
Comment[es]=Navegador de ayuda en HTML
Name[hu]=Segítség
Name[it]=Aiuto
Name[ko]=도움말 브라우져
Name[no]=Hjelp
Name[pt]=Ajuda
Comment[pt]=Navegador de ajuda em HTML
Name[pt_BR]=Navegador de Ajuda
Comment[pt_BR]=Navegador de ajuda em HTML
Name[zh_TW]=求助
