[Desktop Entry]
Comment=Virtual Network Computing (VNC) Viewer
Exec=keypebble
Icon=vnc/vnc
Type=Application
Name=VNC Viewer
Name[pt_BR]=Cliente VNC
Name[de]=VNC Client
Name[pt]=Ecrâ Remoto
Name[es]=Visor VNC
Name[zh_TW]=VNC 客戶端
Name[ko]=VNC 뷰어
