[Desktop Entry]
Exec=keypebble
Icon=vnc/vnc
Type=Application
Name=VNC Viewer
Comment=Virtual Network Computing (VNC) Viewer
Name[de]=VNC Client
Comment[de]=Virtual Network Computing (VNC) Client
Name[es]=Visor VNC
Comment[es]=Visor de Virtual Network Computing (VNC)
Name[fr]=Client VNC
Comment[fr]=Client pour les serveurs Virtual Network Computing (VNC)
Name[it]=Client VNC
Comment[it]=Client per Virtual Network Computing
Name[pt]=Ecrã Remoto
Comment[pt]=Ecrâ Remoto via VNC
Name[pt_BR]=Cliente VNC
Comment[pt_BR]=Ecrâ Remoto via VNC
Name[zh_TW]=VNC 客戶端
Name[sl]=VNC pregledovalnik
Comment[sl]=Virtual Network Computing (VNC) pregledovalnik
Name[nl]=VNC Client
Comment[nl]=Virtual Network Computing (VNC) client
Name[lv]=VNC Klients
Comment[lv]=Virtual Network Computing (VNC) klients
Name[ru]=VNC клиент
Comment[ru]=Клиент VNC (удаленное администрирование)
