[Desktop Entry]
Exec=keypebble
Icon=vnc/vnc
Type=Application
Name=VNC Viewer
Comment=Virtual Network Computing (VNC) Viewer
Name[de]=VNC Client
Name[es]=Visor VNC
Comment[es]=Visor de Virtual Network Computing (VNC)
Name[it]=Client VNC

Name[pt]=Cliente VNC
Comment[pt]=Ecrâ Remoto via VNC
Name[pt_BR]=Cliente VNC
Comment[pt_BR]=Ecrâ Remoto via VNC
Name[zh_TW]=VNC 客戶端
