[Desktop Entry]
Exec=opieplayer2
Icon=opieplayer2/MPEGPlayer
MimeType=audio/mpeg;audio/x-wav;audio/x-mpegurl;application/x-ogg;video/x-ogm;video/x-ms-asf;video/quicktime;video/mpeg;video/x-msvideo;playlist/plain;
MimeTypeIcons=Sound;Sound;Sound;Sound;MPEGPlayer;MPEGPlayer;MPEGPlayer;MPEGPlayer;MPEGPlayer;opieplayer2/playlist2
Type=Application
Name=Opie Media Player
Comment=A Media Player
Name[de]=Media Player
Name[es]=Multimedia
Comment[es]=Reproductor de ficheros multimedia
Name[fr]=Lecteur multimédia
Name[it]=Media Player
Name[pt]=Multimédia
Comment[pt]=Leitor de ficheiros multimédia
Name[pt_BR]=Leitor multimédia
Comment[pt_BR]=Leitor de ficheiros multimédia
Name[sl]=Večpredstavnostni predvajalnik
Comment[sl]=Večpredstavnostni predvajalnik