[Desktop Entry]
Comment=Mobile Messaging
Exec=mobilemsg
Icon=Mobilemsg
Type=Application
Name=Mobile Messaging
Name[pt_BR]=Mensagens Móveis
Name[pt]=Mensagens Móveis
