[Desktop Entry]
Exec=mobilemsg
Icon=mobilemsg/mobilemsg
Type=Application
Name=Mobile Messaging
Comment=Mobile Messaging
Name[es]=Mensajería Móvil
Comment[es]=Mensajería móvil
Name[it]=SMS
Name[pt]=Mensagens Móveis
Comment[pt]=Mensagens móveis
Name[pt_BR]=Mensagens Móveis
Comment[pt_BR]=Mensagens móveis
Name[zh_TW]=手電訊息
