[Desktop Entry]
Comment=Mobile Messaging
Exec=mobilemsg
Icon=mobilemsg/mobilemsg
Type=Application
Name=Mobile Messaging
Name[pt_BR]=Mensagens Móveis
Name[pt]=Mensagens Móveis
Name[es]=Mensajería Móvil
Name[it]=Gestore SMS
Name[zh_TW]=手電訊息
Name[ko]=모바일 메신져
