[Desktop Entry]
Comment=A Media Playback Program
Exec=mpegplayer
Icon=MPEGPlayer
Type=Application
MimeType=audio/mpeg;video/mpeg;audio/x-wav;application/x-shockwave-flash
MimeTypeIcons=SoundPlayer;MPEGPlayer;Sound;Sound
Name=Media Player
Name[no]=MPEGspiller
Name[de]=Medienwiedergabe
Name[ja]=MPEGプレイヤー
Name[hu]=MPEG lejátszó
