[Desktop Entry]
Comment=A dictionary lookup application
Comment[es]=Una aplicación de búsqueda en diccionario
Comment[pt]=Dicionário
Comment[pt_BR]=Dicionário
Exec=odict
Icon=odict/odict
Type=Application
Name=ODict
Name[de]=Wörterbuch
Name[es]=Diccionario
Name[fr]=Dictionnaire
Name[pt]=Dicionário
Name[pt_BR]=Dicionário