[Desktop Entry]
Exec=odict
Icon=odict/odict
Type=Application
Name=ODict
Comment=A dictionary lookup application
Name[da]=Ordbog
Name[de]=Wörterbuch
Name[es]=Diccionario
Comment[es]=Una aplicación de búsqueda en diccionario
Name[fr]=Dictionnaire
Name[it]=Dizionario
Comment[it]=Dizionario Opie
Name[pt]=Dicionário
Comment[pt]=Dicionário
Name[pt_BR]=Dicionário
Comment[pt_BR]=Dicionário
Name[sl]=Slovar
Comment[sl]=Slovar
Name[nl]=Woordenboek
Comment[nl]=EN/DE woordenboek