[Desktop Entry]
Comment=A Media Playback Program
Exec=opieplayer
Icon=opieplayer/MPEGPlayer
Type=Application
MimeType=audio/mpeg;video/mpeg;audio/x-wav;application/x-shockwave-flash;playlist/plain;audio/x-mpegurl;audio/x-mod
MimeTypeIcons=SoundPlayer;MPEGPlayer;Sound;Sound;mpegplayer/playlist2
Name=Opie Player
Name[pt]=Multimédia 
Name[es]=Multimedia
Name[zh_TW]=Opie播放器
Name[ko]=오삐 재생기
