[Desktop Entry]
Comment=An Ftp Client
Exec=opieftp
Icon=opieftp/opieftp
Type=Application
Name=OpieFtp
Name[pt]=Cliente FTP
Name[es]=Cliente FTP
Name[it]=Client FTP
Name[zh_TW]=FTP 檔案傳送
Name[ko]=Ftp 클라이언트
