[Desktop Entry]
Exec=opierec
Icon=opierec/Opierec
Type=Application
Name=Opie Record
Comment=A sound recording application
Name[fr]=Opie Record
Comment[fr]=Enregistreur de Opie
Name[it]=Registratore
Comment[it]=Registratore audio
Name[pt]=Gravador
Comment[pt]=Gravador de Som
Name[pt_BR]=Gravador
Comment[pt_BR]=Gravador de Som
Name[sl]=OpiePosnami
Name[nl]=Geluidsopname
Comment[nl]=Opname van memo's etc
Name[de]=Opie Record
Comment[de]=Eine Anwendung zur Tonaufname
