[Desktop Entry]
Exec=sheetqt
Icon=opie-sheet/sheetqt
MimeType=application/sheet-qt
Type=Application
Name=Opie Sheet
Comment=Spreadsheet Application
Name[da]=Opie Regneark
Name[de]=Tabellenkalkulation
Name[es]=Hoja Cálculo
Comment[es]=Aplicación de hoja de cálculo
Name[fr]=Tableur
Name[it]=Foglio di Calcolo
Comment[it]=Foglio di Calcolo Opie
Name[pt]=Folha de Cálculo
Comment[pt]=Folha de cálculo
Name[pt_BR]=Folha de Cálculo
Comment[pt_BR]=Folha de cálculo
Name[zh_TW]=Opie Sheet
Name[sl]=Opie preglednica
Comment[sl]=Preglednica
