[Desktop Entry]
CanFastLoad=1
Exec=opie-reader
Icon=opie-reader/uqtreader
MimeType=etext/*
Type=Application
Name=Opie Reader
Comment=An E-Text Reader
Name[da]=Opie Læser
Comment[da]=Læs e-bøger
Name[es]=Lector Libros-e
Comment[es]=Un lector de libros electrónicos
Name[fr]=Opie Reader
Comment[fr]=Logiciel de lecture de livre électronique
Name[it]=Lettore eBook
Comment[it]=Lettore per eBook
Name[pt]=Livros
Comment[pt]=Leitor de livros electrónicos
Name[pt_BR]=Visualizador Livros
Comment[pt_BR]=Leitor de livros electronicos
Name[zh_TW]=Opie Reader
Name[sl]=Opie bralnik
Comment[sl]=E-Text bralnik
Name[nl]=Opie Reader
Comment[nl]=Een E-Book speler
Name[de]=Opie Reader
Comment[de]=Ein E-Book Leser
Name[lv]=Opie Lasītājs
Comment[lv]=E-Grāmatas Lasītājs
Name[ru]=Читатель
Comment[ru]=Программа для чтения электронных книг
