[Desktop Entry]
Exec=opieftp
Icon=opieftp/opieftp
Type=Application
Name=OpieFtp
Comment=An Ftp Client
Name[da]=OpieFtp
Comment[da]=En Ftp-klient
Name[de]=FTP-Werkzeug
Name[es]=Cliente FTP
Comment[es]=Cliente de File Transfer Protocol (FTP)
Name[fr]=Opie Ftp
Comment[fr]=Client FTP (File Transfer Protocol)
Name[it]=Client FTP
Comment[it]=Client per File Transfer Protocol
Name[pt]=FTP
Comment[pt]=Cliente de FTP
Name[pt_BR]=Cliente FTP
Comment[pt_BR]=Cliente de FTP
Name[zh_TW]=FTP 檔案傳送
Name[sl]=OpieFTP
Comment[sl]=FTP odjemalec
Name[nl]=OpieFTP
Comment[nl]=Een FTP client
