[Desktop Entry]
Exec=opierec
Icon=opierec/Opierec
Type=Application
Name=Opie Record
Name[it]=Registratore
Comment[it]=Registratore audio Opie
Name[pt]=Gravador
Comment[pt]=Gravador de Som
Name[pt_BR]=Gravador
Comment[pt_BR]=Gravador de Som
Name[sl]=OpiePosnami
Name[nl]=Geluidsopname
Comment[nl]=Opname van memo's etc
