[Desktop Entry]
Comment=Spreadsheet Application
Exec=sheetqt
Icon=opie-sheet/sheetqt
Type=Application
Name=Opie Sheet
MimeType=application/sheet-qt
Name[es]=Hoja Cálculo
Name[de]=Tabellenkalkulation
Name[it]=Foglio di Calcolo
Name[zh_TW]=Opie Sheet
Name[ko]=스프레드시트
