[Desktop Entry]
Exec=opie-console
Icon=console/console
Type=Application
Name=Console
Comment=Terminal app
Name[es]=Consola
Comment[es]=Aplicación de terminal
Name[it]=Terminale
Comment[it]=Terminale
Name[fr]=Console
Comment[fr]=Terminal de commande de Opie
Name[pt]=Consola
Comment[pt]=Linha de comando e consola série
Name[pt_BR]=Consola
Comment[pt_BR]=Linha de comando
Name[sl]=Console
Comment[sl]=Terminalski program
Name[nl]=Console
Comment[nl]=Een terminal
Name[de]=Console
Comment[de]=Kommandozeilenanwendung
Name[ru]=Opie терминал
Comment[ru]=Эмулятор терминала
Name[lv]=Opie Termināls
Comment[lv]=Termināla programma
