[Desktop Entry]
Exec=opiemail
Icon=opiemail/opiemail
Type=Application
Name=EMail
Comment=An EMail Client
Name[da]=E-mail
Name[de]=EMail
Comment[de]=Ein EMail Client
Name[es]=Correo-e
Comment[es]=Cliente de correo electrónico
Name[fr]=Opie E-mail
Comment[fr]=Gestionnaire de courriers électroniques de Opie
Name[it]=Posta
Comment[it]=Client di posta elettronica
Name[pt]=E-Mail
Comment[pt]=Cliente de email
Name[pt_BR]=E-Mail
Comment[pt_BR]=Cliente de email
Name[zh_TW]=電子郵件
Name[sl]=Epošta
Comment[sl]=Odjemalec za elektronsko pošto
Name[nl]=OpieMail
Comment[nl]=Een mailprogramma
Name[lv]=OpieMail
Comment[lv]=E-pasta programma
