[Desktop Entry]
Comment=opie-sh-howto
Exec=opie-sh-howto.sh
Icon=opie-sh/opie-sh
Type=Application
Name=opie-sh HowTo
Name[pt]=Opie Sh
Name[es]=Cómo Opie-Sh
Name[zh_TW]=Opie-sh HowTo
Name[ko]=오삐-sh 하우투
