[Desktop Entry]
Exec=opie-console
Icon=console/console
Type=Application
Name=Opie Terminal
Comment=Terminal app
Name[de]=Terminal
Comment[de]=Opie Terminal Anwendung
Name[es]=Consola
Comment[es]=Aplicación de terminal
Name[it]=Terminale
Comment[it]=Terminale
Name[fr]=Opie Terminal
Comment[fr]=Terminal de commande de Opie
Name[pt]=Consola
Comment[pt]=Linha de comando e consola série
Name[pt_BR]=Consola
Comment[pt_BR]=Linha de comando
Name[sl]=Opie terminal
Comment[sl]=Terminalski program
Name[nl]=Terminal
Comment[nl]=Een terminal
