[Desktop Entry]
Exec=sheetqt
Icon=opie-sheet/sheetqt
MimeType=application/sheet-qt
Type=Application
Name=Opie Sheet
Comment=Spreadsheet Application
Name[da]=Opie Regneark
Name[de]=Tabellenkalkulation
Comment[de]=Tabellenkalkulation
Name[es]=Hoja Cálculo
Comment[es]=Aplicación de hoja de cálculo
Name[fr]=Opie Tableur
Comment[fr]=Logiciel de gestion de feuille de calcule
Name[it]=Foglio di Calcolo
Comment[it]=Foglio di Calcolo Elettronico
Name[pt]=Folha de Cálculo
Comment[pt]=Folha de cálculo
Name[pt_BR]=Folha de Cálculo
Comment[pt_BR]=Folha de cálculo
Name[zh_TW]=Opie Sheet
Name[sl]=Opie preglednica
Comment[sl]=Preglednica
Name[nl]=Opie Sheet
Comment[nl]=Spreadsheet applicatie
Name[lv]=Opie Tabula
Comment[lv]=Elektronisko tabulu aplikācija
Name[ru]=Лист Opie
Comment[ru]=Электронные таблицы
