[Desktop Entry]
Comment=An EMail Client
Exec=opiemail
Icon=opiemail/opiemail
Type=Application
Name=EMail
Name[pt]=E-Mail
Name[es]=Correo-e
Name[it]=Posta
Name[zh_TW]=電子郵件
Name[ko]=이메일
