[Desktop Entry]
Exec=opie-eye
File=Unknown
Icon=opie-eye/opie-eye
Type=Application
Name=Eye of Zilla
Comment=An advanced image viewer
Name[lv]=Opie-Acs
Comment[lv]=Uzlabots atēlu pārlūks
