[Desktop Entry]
Exec=opieirc
Icon=opieirc/opieirc
Type=Application
Name=OpieIRC
Comment=An IRC Client
Name[da]=OpieIRC
Comment[da]=En IRC-klient
Name[es]=Opie IRC
Comment[es]=Un cliente de Internet Relay Chat (IRC)
Name[fr]=OpieIRC
Comment[fr]=Client Opie pour les relais de discution Internet
Name[it]=Client IRC
Comment[it]=Client per Internet Relay Chat
Name[pt]=IRC
Comment[pt]=Cliente de IRC
Name[pt_BR]=IRC
Comment[pt_BR]=Cliente de IRC
Name[sl]=OpieIRC
Comment[sl]=IRC odjemalec
Name[nl]=OpieIRC
Comment[nl]=Een IRC client
Name[de]=OpieIRC
Comment[de]=Ein Internet Relay Chat Client
Name[lv]=OpieIRC
Comment[lv]=Internet Relay Chat Klients
Name[ru]=OpieIRC
Comment[ru]=Клиент IRC (интернет-чат)
