[Desktop Entry]
Comment=An E-Text Reader
Exec=reader
Icon=opie-reader/uqtreader
Type=Application
Name=Opie Reader (Unicode)
CanFastLoad=1
Name[es]=Lector Opie
Name[zh_TW]=Opie Reader
Name[ko]=오삐 책읽기
