[Desktop Entry]
Exec=opieplayer
Icon=opieplayer/MPEGPlayer
MimeType=audio/mpeg;video/mpeg;audio/x-mpegurl;audio/x-wav;application/x-shockwave-flash;playlist/plain;audio/x-mpegurl;audio/x-mod;application/ogg
MimeTypeIcons=SoundPlayer;MPEGPlayer;SoundPlayer;Sound;Sound;mpegplayer/playlist2;Sound;Sound;Sound
Type=Application
Name=Opie Player
Comment=A Media Playback Program
Name[da]=Opie Player
Comment[da]=En medie-afspiller
Name[es]=Multimedia
Comment[es]=Reproductor multimedia
Name[fr]=Opie Player
Comment[fr]=Lecteur multimédia de Opie
Name[it]=Lettore Multimediale
Comment[it]=Lettore di file multimediali
Name[ko]=오삐 재생기
Name[pt]=Multimédia
Comment[pt]=Leitor de ficheiros multimédia
Name[pt_BR]=Leitor Multimédia
Comment[pt_BR]=Leitor de ficheiros multimédia
Name[zh_TW]=Opie播放器
Name[sl]=Opie predvajalnik
Comment[sl]=Večpredstavnostni predvajalnik
Name[nl]=Multimedia speler
Comment[nl]=Om Audio en Video af te spelen
