[Desktop Entry]
Exec=opieplayer2
Icon=opieplayer2/MPEGPlayer
MimeType=audio/mpeg;audio/x-wav;audio/x-mpegurl;audio/x-ogg;video/x-ogm;video/x-ms-asf;video/quicktime;video/mpeg;video/x-msvideo;playlist/plain;
MimeTypeIcons=Sound;Sound;Sound;Sound;MPEGPlayer;MPEGPlayer;MPEGPlayer;MPEGPlayer;MPEGPlayer;opieplayer2/playlist2
Type=Application
Name=Opie Media Player
Comment=A Media Player
Name[da]=Opie Player 2
Comment[da]=En medie-afspiller
Name[de]=Media Player
Comment[de]=Ein Abspielprogramm fuer Multimediadateien
Name[es]=Multimedia
Comment[es]=Reproductor de ficheros multimedia
Name[fr]=Opie Media Player
Comment[fr]=Lecteur multimédia
Name[it]=Lettore Multimediale
Comment[it]=Lettore di file multimediali
Name[pt]=Multimédia
Comment[pt]=Leitor de ficheiros multimédia
Name[pt_BR]=Leitor multimédia
Comment[pt_BR]=Leitor de ficheiros multimédia
Name[sl]=Večpredstavnostni predvajalnik
Comment[sl]=Večpredstavnostni predvajalnik
Name[nl]=Mediaspeler
Comment[nl]=Speler voor Audio en Filmpjes
Name[lv]=Medijuplejeris
Comment[lv]=Programma Audio failu atskaņošanai
Name[ru]=Медиаплеер Opie
Comment[ru]=Медиаплеер
