[Desktop Entry]
Exec=ordesktop
File=ordesktop
Icon=opierdesktop/appicon
Type=Application
Name=o-rdesktop
Comment=Remote Desktop Protocol Client
Name[fr]=Opie rdesktop
Comment[fr]=Client RDP (Remote Desktop Protocol)
Name[lv]=Opie rdesktop
Comment[lv]=RDP Klients (Remote Desktop Protocol)
Name[ru]=Opie rdesktop
Comment[ru]=Клиент RDP (удаленное администрирование)
