[Desktop Entry]
Comment=A chemistry Application
Comment[es]=Una aplicación de química
Exec=oxygen
Icon=oxygen/oxygen
Type=Application
Name=Oxygen
Name[de]=Periodensystem
Name[es]=Tabla Periódica
