[Desktop Entry]
Comment=A chemistry Application
Comment[es]=Una aplicación de química
Comment[pt]=Aplicação de química
Comment[pt_BR]=Aplicação de química
Exec=oxygen
Icon=oxygen/oxygen
Type=Application
Name=Oxygen
Name[de]=Perioden system
Name[es]=Tabla Periódica
Name[pt]=Tabela Periódica
Name[pt_BR]=Tabela Periódica