[Desktop Entry]
Comment=Guitar Chord Generator
Exec=powerchord
Icon=powerchord/Powerchord
Type=Application
Name=Powerchord
Name[ru]=Аккорд
Comment[ru]=Генератор аккордов для гитары

