[Desktop Entry]
Comment=QashMoney, budget software for the Z
Exec=qashmoney
Icon=qashmoney.png
Name=QashMoney
Terminal=false
Type=Application
Name[pt]=Gestor Dinheiro
Name[pt_BR]=Gestor Dinheiro
Comment[pt]=Gestor de Dinheiro
Comment[pt_BR]=Gestor de Dinheiro