[Desktop Entry]
Exec=qashmoney
Icon=qashmoney.png
Terminal=false
Type=Application
Name=QashMoney
Comment=QashMoney, budget software for the Z
Name[fr]=QashMoney
Comment[fr]=Gestion de budjet
Name[pt]=Gestor Dinheiro
Comment[pt]=Gestor de Dinheiro
Name[pt_BR]=Gestor Dinheiro
Comment[pt_BR]=Gestor de Dinheiro
Name[de]=QashMoney
Comment[de]=Finanzverwaltungssoftware
Name[lv]=QashNauda
Comment[lv]=Budžeta Plānošana
Name[ru]=QashMoney
Comment[ru]=Управление бюджетом
