[Desktop Entry]
Exec=qpdf
Icon=qpdf/qpdf_icon
MimeType=application/pdf
Type=Application
Name=PDF Viewer
Comment=PDF Viewer
Name[da]=PDF Viser
Name[de]=PDF Betrachter
Comment[de]=Betrachter fuer PDF Dateien
Name[es]=Visor PDF
Comment[es]=Visor de ficheros en Portable Document Format (PDF)
Name[fr]=Lecteur PDF
Comment[fr]=Visualisateur de fichier PDF (Portable Document Format)
Name[it]=Lettore PDF
Comment[it]=Lettore Portable Document Format
Name[pt]=PDF
Comment[pt]=Leitor de ficheiros PDF
Name[pt_BR]=Visualizador PDF
Comment[pt_BR]=Visualizador de ficheiros PDF
Name[zh_TW]=PDFÁÄèË¶ΩÂô®
Name[sl]=PDF pregledovalnik
Comment[sl]=PDF pregledovalnik
Name[nl]=PDF Lezer
Comment[nl]=Een proramma om PDF's mee te lezen
Name[lv]=PDF LasÓtajs
Comment[lv]=PDF Failu lasÓanas programma
