[Desktop Entry]
Comment=PDF Viewer
Exec=qpdf
Icon=qpdf/qpdf_icon
Type=Application
MimeType=application/pdf
Name=PDF Viewer
Name[de]=PDF Betrachter
Name[pt]=Leitor PDF
Name[es]=Visor PDF
Name[zh_TW]=PDF瀏覽器
