[Desktop Entry]
Comment=PDF Viewer
Comment[es]=Visor de ficheros en Portable Document Format (PDF)
Comment[fr]=Visualisateur de fichier PDF (Portable Document Format)
Comment[pt]=Visualizador de ficheiros PDF
Comment[pt_BR]=Visualizador de ficheiros PDF
Exec=qpdf
Icon=qpdf/qpdf_icon
Type=Application
MimeType=application/pdf
Name=PDF Viewer
Name[de]=PDF Betrachter
Name[pt]=Leitor PDF
Name[es]=Visor PDF
Name[it]=Lettore PDF
Name[zh_TW]=PDF瀏覽器
Name[ko]=PDF 뷰어
Name[fr]=Lecteur PDF
