[Desktop Entry]
Exec=remote
Icon=remote/remote
Type=Application
Name=Remote
Comment=Remote App
Name[es]=Control Remoto
Comment[es]=Aplicación de control remoto
Name[fr]=Zappeur
Comment[fr]=Utilise votre appareil comme télécommande
Name[it]=Telecomando
Comment[it]=Telecomando
Name[pt]=Controlo Remoto
Comment[pt]=Aplicação de controlo remoto
Name[pt_BR]=Controlo Remoto
Comment[pt_BR]=Aplicação de controlo remoto
Name[zh_TW]=遙控器
Name[sl]=Daljinec
Comment[sl]=Daljinec
Name[nl]=Afstandsbediening
Comment[nl]=Een afstandsbediening voor alles ;)
Name[de]=Fernbedienung
Comment[de]=Infrarot Port als Fernbenienung benutzen
