[Desktop Entry]
Comment=Remote App
Comment[es]=Aplicación de control remoto
Exec=remote
Icon=remote/remote
Type=Application
Name=Remote
Name[pt]=Controlo Remoto
Name[pt_BR]=Controlo Remoto
Name[es]=Control Remoto
Name[it]=Telecomando
Name[zh_TW]=遙控器
Name[ko]=리모트
