[Desktop Entry]
Categories = 
Comment = An Image Viewer
Exec = showimg
File = 
Icon = imageviewer/ImageViewer
MimeType = image/*
Name = Bildbetrachter
Name[de] = Bildbetrachter
Name[es] = Visor Imágenes
Name[hu] = Nézõke
Name[it] = Visualizzatore Immagini
Name[ko] = 이미지 뷰어
Name[pt] = Leitor Imagens
Name[pt_BR] = Visualizador de Imagens
Name[zh_TW] = 圖檔檢視
Rotation = 90
Type = Applications
