[Desktop Entry]
Comment=An Image Viewer
Exec=showimg
MimeType=image/*
Icon=imageviewer/ImageViewer
Type=Application
Name=Image Viewer
Name[pt_BR]=Visualizador de Imagens
Name[de]=Bildbetrachter
Name[hu]=Nézõke
Name[it]=Visualizzatore Immagini
Name[pt]=Leitor Imagens
Name[es]=Visor Imágenes
Name[zh_TW]=圖檔檢視
Name[ko]=이미지 뷰어
