[Desktop Entry]
Comment=A Spread Sheet Program
Exec=spreadsheet
Icon=Spreadsheet
Type=Application
MimeType=application/x-qpe-ss
Name=Spreadsheet
Name[no]=Regneark
Name[de]=Tabellenkalkulation
Name[ja]=表計算
Name[hu]=Táblakezelõ
