[Desktop Entry]
Comment=A Spread Sheet Program
Comment[es]=Un programa de hoja de cálculo
Exec=spreadsheet
Icon=Spreadsheet
Type=Application
MimeType=application/x-qpe-ss
Name=Spreadsheet
Name[pt_BR]=Planilha
Name[no]=Regneark
Name[de]=Tabellenkalkulation
Name[ja]=表計算
Name[hu]=Táblakezelõ
Name[it]=Foglio di Calcolo
Name[pt]=Folha de Cálculo
Name[es]=Hoja Cálculo
Name[zh_TW]=計算表
Name[ko]=스프레드시트
