[Desktop Entry]
Name=System Info
Name[pt_BR]=Informações do Sistema
Name[no]=Systeminfo
Name[de]=System Infos Aye
Exec=sysinfo
Type=Application
Comment=System Information
Icon=SystemInfo
Name[hu]=Rendszerinfó
Name[it]=Sistema
Name[pt]=Sistema
Name[es]=Info Sistema
Name[zh_TW]=系統資訊
Name[ko]=시스템정보
