[Desktop Entry]
Name=System Info
Name[pt_BR]=Informações do Sistema
Name[no]=Systeminfo
Name[de]=System Informationen
Exec=sysinfo
Type=Application
Comment=System Information
Icon=SystemInfo
Name[hu]=Rendszerinfó
Name[pt]=Sistema
Name[es]=Info Sistema
