[Desktop Entry]
Name=System Info
Name[no]=Systeminfo
Name[de]=System information
Exec=sysinfo
Type=Application
Comment=System Information
Icon=SystemInfo
Name[hu]=Rendszerinfó
