[Desktop Entry]
Comment=A Text Editing Program
Exec=textedit
Icon=TextEditor
Type=Application
MimeType=text/plain
Name=Text Editor
Name[pt_BR]=Editor de Textos
Name[no]=Teksteditor
Name[de]=Texteditor
Name[ja]=テキストエディタ
Name[zh_CN]=文本编辑器
Name[zh_TW]=文字編輯器
Name[ko]=글월 편집기
Name[hu]=Szöveg- szerkesztõ
Name[pt]=Editor Texto
