[Desktop Entry]
Exec=kate
Icon=tinykate/tinykate
MimeType=text/*
Type=Applications
Name=TinyKATE
Comment=A texteditor with syntax highlighting
Name[es]=MiniKate
Comment[es]=Un editor de textos con resaltado sintáctico
Name[fr]=TinyKATE
Comment[fr]=Editeur de text avec colorisation syntaxique
Name[it]=TinyKate
Comment[it]=Editor di testi avanzato
Name[pt]=Editor Código
Comment[pt]=Um editor de texto com sintaxe a cores (TinyKate)
Name[pt_BR]=Editor Textos
Comment[pt_BR]=Um editor de texto com sintaxe a cores (TinyKate)
Name[sl]=MajhenKATE
Comment[sl]=Urejevalnik besedila z označevanjem
Name[nl]=TinyKate
Comment[nl]=Tekstverwerker met syntax highlighting
Name[de]=TinyKATE
Comment[de]=Ein Texteditor mit Syntax-Hervorhebung
Name[lv]=TinyKATE
Comment[lv]=Teksta Redaktors ar Sintakses atpazīšanu
Name[ru]=Крошечный KATE
Comment[ru]=Текстовый редактор с подсветкой синтаксиса
