[Desktop Entry]
Categories =
Comment = A texteditor with syntax highlighting
Comment[es]=Un editor de textos con resaltado sintáctico
Comment[pt]=Um editor de texto com sintaxe a cores
Comment[pt_BR]=Um editor de texto com sintaxe a cores
Exec = tinykate
File =
Icon = tinykate/tinykate
Name = TinyKATE
MimeType = text/*
Type = Applications
Name[es]=MiniKate
Name[pt]=Mini Kate
Name[pt_BR]=Mini Kate