[Desktop Entry]
Exec=tonleiter
Icon=tonleiter/tonleiter
Type=Application
Name=Tonleiter
Name[lv]=Akordi
Name[ru]=Tonleiter
Comment[ru]=Настройка струнных музыкальных инструментов
