[Desktop Entry]
Exec=ubrowser
Icon=ubrowser/ubrowser
MimeType=text/html
MimeTypeIcons=ubrowser/ubrowser
Type=Application
Name=uBrowser
Comment=Web Browser
Name[it]=Browser WWW
Comment[it]=Browser WWW
Name[pt]=WWW
Comment[pt]=Navegador WWW
Name[pt_BR]=Navegador WWW
Comment[pt_BR]=Navegador WWW
Name[sl]=uBrskalnik
Comment[sl]=Spletni brskalnik
