[Desktop Entry]
Comment=Web Browser
Exec=ubrowser
Icon=ubrowser/ubrowser
Type=Application
Name=uBrowser
MimeType=text/html
MimeTypeIcons=ubrowser/ubrowser

