[Desktop Entry]
Comment=A Password Manager Program
Comment[de]=Ein Programm zum Verwalten von Passworten
Exec=zsafe
Icon=zsafe/zsafe
Type=Application
Type[de]=Anwendung
Name=ZSafe
Name[de]=ZSafe
CanFastLoad=0
MimeType=application/zsafe
Name[lv]=ZSeifs
Comment[lv]=Paroļu uzglabāšanas programma
