[Desktop Entry]
Exec=simple-main.py
Icon=pyquicklaunch/logo
Type=Example
Name=Simple MainWindow
Comment=An Example Program
Name[pt]=Exemplo
Comment[pt]=Um programa de exemplo
